
@{
    ViewBag.Title = "InstagramStats";
}

<style>
    td.negative {
        font-weight: bold;
        color: red;
    }

    td.positive {
        font-weight: bold;
        color: green;
    }

    table.center-all td, th {
        text-align: center;
    }
</style>
<div class="main-content">

    <div class="panel">

        <div class="panel-body" style="text-align:center; padding-left:130px; padding-right:130px; padding-top:10px; padding-bottom:30px">
            <div class="well well-sm text-center">
                <h3>Standuperos SUA - Seguidores</h3>
                <div id="standuperosSUA" style="height: 300px; width: 100%;"></div>
            </div>
        </div>

        <div class="panel-body" style="text-align:center; padding-left:130px; padding-right:130px; padding-top:10px; padding-bottom:60px">
            <div class="well well-sm text-center">
                <h3>Standuperos SUA - Historial Seguidores Legacy</h3>
                <div id="standuperosSUAHistorialSeguidoresLegacy" style="height: 600px; width: 100%;"></div>
            </div>
        </div>

        <div class="panel-body" style="text-align:center; padding-left:130px; padding-right:130px; padding-top:10px; padding-bottom:60px">
            <div class="well well-sm text-center">
                <h3>Standuperos SUA - Historial Seguidores</h3>
                <div style="width: 100%; overflow-x: auto;  white-space: nowrap;">
                    <select id="filter_table_standuperosSUAFollowersTable">
                        @foreach (var standupero in ViewBag.standuperosSUAUsernames)
                        {
                            <option>@standupero</option>
                        }
                    </select>
                    <table id="table_sua_historial_seguidores" style="width:40%" class="display compact hover nowrap">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Fecha</th>
                                <th>Día</th>
                                <th>Seguidores</th>
                                <th>Diferencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var standupero in ViewBag.standuperosSUAFollowersTable)
                            {
                                foreach (var item in standupero.Followers)
                                {
                                    <tr>
                                        <td>@standupero.Username</td>
                                        <td>@item.Date.ToString("yyyy-MM-dd")</td>
                                        <td>@item.Date.ToString("ddd")</td>
                                        <td>@item.Count.ToString("N0")</td>
                                        @if (item.Difference > 0)
                                        {
                                            <td>+@item.Difference</td>
                                        }
                                        else
                                        {
                                            <td>@item.Difference</td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    
                </div>
                <div id="standuperosSUAHistorialSeguidores" style="height: 600px; width: 100%;"></div>
            </div>
        </div>

        <div class="panel-body" style="text-align:center; padding-left:130px; padding-right:130px; padding-top:10px; padding-bottom:60px">
            <div class="well well-sm text-center">
                <h3>Standuperos - Ranking Seguidores</h3>
                <div id="chartContainer" style="height: 1000px; width: 100%;"></div>
            </div>
        </div>

    </div>
</div>



<script>

    $(document).ready(function () {

        ///////////////////////////////////////////standuperosSUA
        var standuperosSUA = new CanvasJS.Chart("standuperosSUA", {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            axisX: { title: "Standuperos" },
            axisY: { title: "Seguidores",  suffix: " seguidores", includeZero: false },
            data: [{
                type: "column",
                yValueFormatString: "#",
                dataPoints: @Html.Raw(Json.Encode(@ViewBag.standuperosSUAFollowersLast))
            }]
        });
        standuperosSUA.render();








        ///////////////////////////////////////Standuperos SUA - Followers legacy
        var standuperos = @Html.Raw(Json.Encode(@ViewBag.standuperosSUAFollowersLegacy));
        for (var a = 0; a < standuperos.length; a++)
            for (var b = 0; b < standuperos[a].dataPoints.length; b++)
                standuperos[a].dataPoints[b].x = new Date(standuperos[a].dataPoints[b].x);

        var standuperosSUAHistorialSeguidoresLegacy = new CanvasJS.Chart("standuperosSUAHistorialSeguidoresLegacy", {
            animationEnabled: true,
            axisX: { valueFormatString: "MMM,YY", labelFontSize: 15},
            axisY: {
                title: "Seguidores",
                includeZero: false,
                suffix: "",
                labelFontSize: 15
            },
            legend: {
                cursor: "pointer",
                fontSize: 16,
                itemclick: toggleDataSeriesStanduperosSUAFollowersLegacy
            },
            toolTip: { shared: true },
            data: standuperos
        });
        standuperosSUAHistorialSeguidoresLegacy.render();
        function toggleDataSeriesStanduperosSUAFollowersLegacy(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible)
                e.dataSeries.visible = false;
            else
                e.dataSeries.visible = true;
            standuperosSUAHistorialSeguidoresLegacy.render();
        }








        /////////////////////////////////////////////////Ranking todos los standuperos
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            axisX: { interval: 1, labelFontSize: 15 },
            axisY: { labelFontSize: 10},
            data: [{
                type: "bar",
                toolTipContent: "<img src={url}\" style=\"width:40px; height:20px;\"><br> <b>{label}</b><br>Seguidores: {y}<br>Seguidos: {seguidos}<br>Posts: {posts}",
                dataPoints:  @Html.Raw(Json.Encode(@ViewBag.standuperosRanking))
            }]
        });
        chart.render();








        ///////////////////////////////////////////Tabla Standuperos SUA Diferencia
        var table_sua_historial_seguidores = $('#table_sua_historial_seguidores').DataTable({
            "bSort": false,
            //"pageLength": 50,
            "columns": [
                { "width": "60%" },
                { "width": "10%" },
                { "width": "10%" },
                { "width": "10%" },
                { "width": "10%" }
            ],
            responsive: true,
            dom: 'l<B>ftip',
            buttons: [ ],
            "columnDefs": [
            {
                //"targets": [0],
                //"visible": false
            }],
            "createdRow": function (row, data, index) {
                if (data[4].indexOf('-') > -1)
                    $('td', row).eq(4).addClass('negative');
                else
                    $('td', row).eq(4).addClass('positive');
            }
        });
        AcomodaDOM();
        table_sua_historial_seguidores.search("@ViewBag.standuperosSUAUsernames[0]").draw();
        //ocultar primera columna
        var column = table_sua_historial_seguidores.column(0);
        // Toggle the visibility
        column.visible(false);

        $('#filter_table_standuperosSUAFollowersTable').on('change', function ()
        {
            table_sua_historial_seguidores.search(this.value).draw();
            for (var i = 0; i < standuperos_followers_actual.length; i++)
            {
                if (standuperos_followers_actual[i].name != this.value)
                    standuperos_followers_actual[i].visible = false;
                else
                    standuperos_followers_actual[i].visible = true;
            }
            standuperosSUAHistorialSeguidores.render();
        });





        ///////////////////////////////////////////Standuperos SUA - Followers actual
        var standuperos_followers_actual = @Html.Raw(Json.Encode(@ViewBag.standuperosSUAFollowersActual));
        for (var a = 0; a < standuperos_followers_actual.length; a++)
            for (var b = 0; b < standuperos_followers_actual[a].dataPoints.length; b++)
                standuperos_followers_actual[a].dataPoints[b].x = new Date(standuperos_followers_actual[a].dataPoints[b].x);

        var standuperosSUAHistorialSeguidores = new CanvasJS.Chart("standuperosSUAHistorialSeguidores", {
            animationEnabled: true,
            axisX: { valueFormatString: "DD/MM/YY", labelFontSize: 15},
            axisY: {
                title: "Seguidores",
                includeZero: false,
                suffix: "",
                labelFontSize: 15
            },
            legend: {
                cursor: "pointer",
                fontSize: 16,
                itemclick: toggleDataSeriesStanduperosSUAFollowersActual
            },
            toolTip: { shared: true },
            data: standuperos_followers_actual
        });
        standuperosSUAHistorialSeguidores.render();

        function toggleDataSeriesStanduperosSUAFollowersActual(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible)
                e.dataSeries.visible = false;
            else
                e.dataSeries.visible = true;
            standuperosSUAHistorialSeguidores.render();
        }


        $('#filter_table_standuperosSUAFollowersTable').val("@ViewBag.standuperosSUAUsernames[0]").trigger('change');



    });



    function AcomodaDOM() {
        $('#table_sua_historial_seguidores_filter').hide();
    }


</script>	