
@{
    ViewBag.Title = "InstagramStats";
}

<style>
    td.negative {
        font-weight: bold;
        color: red;
    }

    td.positive {
        font-weight: bold;
        color: green;
    }

    table.center-all td, th {
        text-align: center;
    }
</style>


@if (ViewBag.message == "")
{
    <div class="main-content"  style="background-color: lightslategrey;">

        <div class="panel" style="background-color: lightslategrey;">

            <div class="panel-body" style="text-align:center; padding-left:130px; padding-right:130px; padding-top:10px; padding-bottom:30px">
                <div class="well well-sm text-center">
                    <h4>Standuperos SUA</h4>
                    <div id="standuperosSUA" style="height: 300px; width: 100%;"></div>
                    <h4>Seguidores Legacy</h4>
                    <div id="standuperosSUAHistorialSeguidoresLegacy" style="height: 600px; width: 100%;"></div>
                </div>
            </div>


            <div class="panel-body" style="text-align:center; padding-left:130px; padding-right:130px; padding-top:10px; padding-bottom:60px">
                <div class="well well-sm text-center">
                    <h4>Ranking Seguidores</h4>
                    <div id="chartContainer" style="height: 1000px; width: 100%;"></div>
                </div>
            </div>

            <div class="panel-body" style="text-align:center; padding-left:130px; padding-right:130px; padding-top:10px; padding-bottom:60px">
                <div class="well well-sm text-center">
                    <div id="standupero_history_graphic" style="width: 100%; overflow-x: auto;  white-space: nowrap; background-repeat: no-repeat; background-size: cover; ">
                        <br />
                        <br />
                        <table style="margin: 0 auto;text-align-last: center;">
                            <tr>
                                <td rowspan="2" style="vertical-align: middle;">
                                    <img src="#" id="standuperoProfilePicture" style="width:70%; height:75%;">
                                    <br />
                                    <br />
                                    <select style="text-align-last:center; width:100%" id="filter_table_standuperosFollowersTable">
                                        @foreach (var standupero in ViewBag.standuperosUsernames)
                                        {
                                            <option style="text-align:center">@standupero</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <table style="margin: auto; " class="display compact hover nowrap">
                                        <tr>
                                            <td class="well well-sm text-center" colspan="3">Promedio diario</td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: middle;">
                                                <label class="well well-sm text-center">Total</label>
                                                <label title="Média diaria" id="media_diaria"></label>
                                            </td>
                                            <td style="vertical-align: middle;">
                                                <label class="well well-sm text-center">Últimos 30 días</label>
                                                <label title="Média diaria" id="media_diaria_mensual"></label>
                                            </td>
                                            <td style="vertical-align: middle;">
                                                <label class="well well-sm text-center">Últimos 7 días</label>
                                                <label title="Média diaria" id="media_diaria_semanal"></label>
                                            </td>

                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <br /><br />
                        <table id="table_historial_seguidores" style="width:40%;text-align-last: center;" class="display compact hover nowrap">
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Fecha</th>
                                    <th>Día</th>
                                    <th>Seguidores</th>
                                    <th>Diferencia</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var standupero in ViewBag.standuperosFollowersTable)
                                {
                                    var count = 0;
                                    foreach (var item in standupero.Followers)
                                    {
                                        if (count == ViewBag.followersCount)
                                        {
                                            break;
                                        }

                                        <tr>
                                            <td>@standupero.Username</td>
                                            <td>@item.Date.ToString("yyyy-MM-dd")</td>
                                            <td>@item.Date.ToString("ddd")</td>
                                            <td>@item.Count.ToString("N0")</td>
                                            @if (item.Difference > 0)
                                            {
                                                <td>+@item.Difference</td>
                                            }
                                            else
                                            {
                                                <td>@item.Difference</td>
                                            }
                                        </tr>
                                        count++;
                                    }
                                }
                            </tbody>
                        </table>
                        <br />
                        <br />

                    </div>
                    <div id="standuperosHistorialSeguidores" style="height: 600px; width: 100%;"></div>
                </div>
            </div>


            <!--Rankings-->
            <div class="panel-body" style="text-align:center; padding-left:130px; padding-right:130px; padding-top:10px; padding-bottom:60px;">
                <div class="well well-sm text-center">
                    <div id="standupero_history_graphic_" style="width: 100%; overflow-x: auto;  white-space: nowrap;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('https://thefrisky.com/wp-content/uploads/2019/01/3D-Instagram-logo.jpg')">
                        <h4>Ranking  |  Promédio Diario</h4>
                        <select style="text-align-last:center; width:150px" id="filter_table_ranking_period">
                            <option style="text-align:center">Semanal</option>
                            <option style="text-align:center">Mensual</option>
                            <option style="text-align:center">Semestral</option>
                        </select>
                        <br />
                        <table id="ranking_period_table" style="width:40%;text-align-last: center;" class="display compact hover nowrap">
                            <thead>
                                <tr>
                                    <th>Posición</th>
                                    <th>Usuario</th>
                                    <th> </th>
                                    <th>Media díaria</th>
                                    <th>Período</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var posicion = 1;
                                    foreach (var item in ViewBag.rankingWeekly)
                                    {
                                <tr>
                                    <td>@posicion</td>
                                    <td><img src='@item.ProfilePicture' style='height:35px; width:35px'></td>
                                    <td>@item.Username</td>
                                    @if (item.Weekly == -9999999)
                                    {
                                        <td>-</td>
                                    }
                                    else if (item.Weekly > 0)
                                    {
                                        <td>+@item.Weekly</td>
                                    }
                                    else
                                    {
                                        <td>@item.Weekly</td>
                                    }
                                    <td>semanal</td>
                                </tr>
                                        posicion++;
                                    }
                                    posicion = 1;
                                    foreach (var item in ViewBag.rankingMonthly)
                                    {
                                <tr>
                                    <td>@posicion</td>
                                    <td><img src='@item.ProfilePicture' style='height:35px; width:35px'></td>
                                    <td>@item.Username</td>
                                    @if (item.Monthly == -9999999)
                                    {
                                        <td>-</td>
                                    }
                                    else if (item.Monthly > 0)
                                    {
                                        <td>+@item.Monthly</td>
                                    }
                                    else
                                    {
                                        <td>@item.Monthly</td>
                                    }
                                    <td>mensual</td>
                                </tr>
                                        posicion++;
                                    }
                                    posicion = 1;
                                    foreach (var item in ViewBag.rankingSemiannually)
                                    {
                                <tr>
                                    <td>@posicion</td>
                                    <td><img src='@item.ProfilePicture' style='height:35px; width:35px'></td>
                                    <td>@item.Username</td>
                                    @if (item.SemiAnnually == -9999999)
                                    {
                                        <td>-</td>
                                    }
                                    else if (item.SemiAnnually > 0)
                                    {
                                        <td>+@item.SemiAnnually</td>
                                    }
                                    else
                                    {
                                        <td>@item.SemiAnnually</td>
                                    }
                                    <td>semestral</td>
                                </tr>
                                        posicion++;
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        @ViewBag.message
    </div>
}





<script>

    $(document).ready(function () {

        ///////////////////////////////////////////standuperosSUA
        var standuperosSUA = new CanvasJS.Chart("standuperosSUA", {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            axisY: {
                includeZero: false,
                labelFontSize: 13
            },
            data: [{
                type: "column",
                yValueFormatString: "#",
                dataPoints: @Html.Raw(Json.Encode(@ViewBag.standuperosSUAFollowersLast))
            }]
        });
        standuperosSUA.render();


        ///////////////////////////////////////Standuperos SUA - Followers legacy
        var standuperos = @Html.Raw(Json.Encode(@ViewBag.standuperosSUAFollowersLegacy));
        for (var a = 0; a < standuperos.length; a++)
            for (var b = 0; b < standuperos[a].dataPoints.length; b++)
                standuperos[a].dataPoints[b].x = new Date(standuperos[a].dataPoints[b].x);

        var standuperosSUAHistorialSeguidoresLegacy = new CanvasJS.Chart("standuperosSUAHistorialSeguidoresLegacy", {
            animationEnabled: true,
            axisX: {
                valueFormatString: "MMM,YY",
                labelFontSize: 8
            },
            axisY: {
                title: "",
                includeZero: false,
                suffix: "",
                labelFontSize: 13
            },
            legend: {
                cursor: "pointer",
                fontSize: 16,
                itemclick: toggleDataSeriesStanduperosSUAFollowersLegacy
            },
            toolTip: { shared: true },
            data: standuperos
        });
        standuperosSUAHistorialSeguidoresLegacy.render();
        function toggleDataSeriesStanduperosSUAFollowersLegacy(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible)
                e.dataSeries.visible = false;
            else
                e.dataSeries.visible = true;
            standuperosSUAHistorialSeguidoresLegacy.render();
        }



        /////////////////////////////////Ranking todos los standuperos
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            axisX: { interval: 1, labelFontSize: 15 },
            axisY: { labelFontSize: 10},
            data: [{
                type: "bar",
                toolTipContent: "<img src={url}\" style=\"width:40px; height:20px;\"><br> <b>{label}</b><br>Seguidores: {y}<br>Seguidos: {seguidos}<br>Posts: {posts}",
                dataPoints:  @Html.Raw(Json.Encode(@ViewBag.standuperosRanking))
            }]
        });
        chart.render();




                ///////////////////////////////////////////Tabla Standuperos followers actual (diferencia)
        var table_historial_seguidores = $('#table_historial_seguidores').DataTable({
            "bSort": false,
            //"pageLength": 50,
            "columns": [
                { "width": "60%" },
                { "width": "10%" },
                { "width": "10%" },
                { "width": "10%" },
                { "width": "10%" }
            ],
            paging: isPagingAvailable(),
            responsive: true,
            dom: 'l<B>ftip',
            buttons: [ ],
            "columnDefs": [
            {
                //"targets": [0],
                //"visible": false
            }],
            "createdRow": function (row, data, index) {
                if (data[4].indexOf('-') > -1)
                    $('td', row).eq(4).addClass('negative');
                else
                    $('td', row).eq(4).addClass('positive');
            }
        });
        AcomodaTableDOM();
        table_historial_seguidores.search("@ViewBag.standuperosUsernames[0]").draw();
        //ocultar primera columna
        var column = table_historial_seguidores.column(0);
        // Toggle the visibility
        column.visible(false);


        $('#filter_table_standuperosFollowersTable').on('change', function ()
        {
            table_historial_seguidores.search(this.value).draw();
            for (var i = 0; i < standuperos_followers_actual.length; i++)
            {
                if (standuperos_followers_actual[i].name != this.value)
                {
                    standuperos_followers_actual[i].visible = false;
                }
                else
                {
                    var standuperos_all =  @Html.Raw(Json.Encode(@ViewBag.standuperosFollowersTable));
                    standuperos_followers_actual[i].visible = true;

                    var a = 0;
                    while (standuperos_all[a].Username != standuperos_followers_actual[i].name)
                    { a++; }
                    $("#standuperoProfilePicture").attr("src", standuperos_all[a].ProfilePicture);
                    $("#standupero_history_graphic").css("background-image", 'linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(' + standuperos_all[a].ProfilePicture + ')');


                    CalcularMedia(standuperos_all, i, a);
                    if (standuperos_all[a].Followers.length >= 7) {
                        CalcularMediaSemanal(standuperos_all, i, a);
                        CalcularMediaMensual(standuperos_all, i, a);
                    }
                    else
                    {
                        $('#media_diaria_semanal').css("color", "forestgreen");
                        $('#media_diaria_semanal')[0].innerHTML = "0";

                        $('#media_diaria_mensual').css("color", "forestgreen");
                        $('#media_diaria_mensual')[0].innerHTML = "0";

                    }
                }
            }
            standuperosHistorialSeguidores.render();
        });

        //grafico spline
        var standuperos_followers_actual = @Html.Raw(Json.Encode(@ViewBag.standuperosFollowersActual));
        for (var a = 0; a < standuperos_followers_actual.length; a++)
            for (var b = 0; b < standuperos_followers_actual[a].dataPoints.length; b++)
                standuperos_followers_actual[a].dataPoints[b].x = new Date(standuperos_followers_actual[a].dataPoints[b].x);

        var standuperosHistorialSeguidores = new CanvasJS.Chart("standuperosHistorialSeguidores", {
            animationEnabled: true,
            axisX: { valueFormatString: "DD/MM/YY", labelFontSize: 15},
            axisY: {
                includeZero: false,
                suffix: "",
                labelFontSize: 15
            },
            legend: {
                cursor: "pointer",
                fontSize: 16,
                itemclick: toggleDataSeriesStanduperosFollowersActual,
            },
            toolTip: { shared: false },
            data: standuperos_followers_actual
        });
        standuperosHistorialSeguidores.render();

        $('#filter_table_standuperosFollowersTable').val("@ViewBag.standuperosUsernames[0]").trigger('change');

        function toggleDataSeriesStanduperosFollowersActual(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible)
                e.dataSeries.visible = false;
            else
                e.dataSeries.visible = true;
            standuperosHistorialSeguidores.render();
        }

        //////////////////////////////RANKINGS
        var ranking_period_table = $('#ranking_period_table').DataTable({
            "bSort": false,
            "pageLength": 25,
            "columns": [
                { "width": "5%" },
                { "width": "10%" },
                { "width": "10%" },
                { "width": "5%" },
                { "width": "70%" }
            ],
            responsive: true,
            paging: true,
            "createdRow": function (row, data, index) {
                if (data[3].indexOf('-') > -1)
                    $('td', row).eq(3).addClass('negative');
                else
                    $('td', row).eq(3).addClass('positive');
            }
        });
        $('#ranking_period_table_filter').hide();
        $('#ranking_period_table_info').hide();
        $('#ranking_period_table_length').hide();
        ranking_period_table.search("semanal").draw();

        //ocultar primera columna
        var column = ranking_period_table.column(4);
        column.visible(false);


        $('#filter_table_ranking_period').on('change', function ()
        {
            ranking_period_table.search(this.value).draw();
            standuperosHistorialSeguidores.render();
        });
    });


    function CalcularMedia(standuperos_all, index, a)
    {
        var sumaDifrencia = 0;
        for (var b = 0; b < standuperos_all[a].Followers.length; b++)
        {
            sumaDifrencia += standuperos_all[a].Followers[b].Difference;
        }
        var media = (sumaDifrencia / standuperos_all[a].Followers.length).toFixed(0);
        if (media > 0) {
            $('#media_diaria').css("color", "forestgreen");
            $('#media_diaria')[0].innerHTML = "+" + media;
        }
        else {
            $('#media_diaria').css("color", "red");
            $('#media_diaria')[0].innerHTML = media;
        }
    }


    function CalcularMediaSemanal(standuperos_all, index, a)
    {
        var sumaDifrencia = 0;
        for (var b = 0; b < 7 ; b++)
        {
            sumaDifrencia += standuperos_all[a].Followers[b].Difference;
        }
        var media = (sumaDifrencia / 7).toFixed(0);
        if (media > 0) {
            $('#media_diaria_semanal').css("color", "forestgreen");
            $('#media_diaria_semanal')[0].innerHTML = "+" + media;
        }
        else {
            $('#media_diaria_semanal').css("color", "red");
            $('#media_diaria_semanal')[0].innerHTML = media;
        }
    }

    function CalcularMediaMensual(standuperos_all, index, a) {
        if (standuperos_all[a].Followers.length  < 30) {
            $('#media_diaria_mensual').css("color", "black");
            $('#media_diaria_mensual')[0].innerHTML = "-";
        }
        else {
            var sumaDifrencia = 0;
            for (var b = 0; b < 30; b++) {
                sumaDifrencia += standuperos_all[a].Followers[b].Difference;
            }
            var media = (sumaDifrencia / 30).toFixed(0);
            if (media > 0) {
                $('#media_diaria_mensual').css("color", "forestgreen");
                $('#media_diaria_mensual')[0].innerHTML = "+" + media;
            }
            else {
                $('#media_diaria_mensual').css("color", "red");
                $('#media_diaria_mensual')[0].innerHTML = media;
            }
        }
        
    }


    //mepa que este metodo no se usa, chequearlo
    function AcomodaTableSUADOM() {
        $('#table_sua_historial_seguidores_filter').hide();
        $('#table_sua_historial_seguidores_info').hide();

    }

    function AcomodaTableDOM() {
        $('#table_historial_seguidores_filter').hide();
        $('#table_historial_seguidores_info').hide();
    }

    function isPagingAvailable() {
        if ('@ViewBag.followersCount' == '1000')
            return true;
        return false;
    }

</script>	