@model SUA.Models.Standupero
<style>
    table {
        border-spacing: 20px;
    }

    td {
        padding: 10px;
    }
</style>

<div class="main-content">
    @using (Html.BeginForm("Standupero", "Standupero", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (ViewBag.mensaje == "creado")
        {
            <label>El Standupero ha sido cargado con éxito. Puede verlo cargado en el <a href="@Url.RouteUrl("Standuperos")">Listado de Standuperos</a></label>
        }
        else if (ViewBag.mensaje == "actualizado")
        {
            <label>El Standupero ha sido actualizado con éxito. Puede ver los cambios en el <a href="@Url.RouteUrl("Standuperos")">Listado de Standuperos</a></label>
        }
        else if (ViewBag.mensaje == "Get")
        {
            <div class="panel">
                <div class="panel-body">
                    <form data-id="" id="pdf-create-form" to-action="/pdfs/create">

                        <table style="border-spacing: 20px">
                            <tr>
                                <td>
                                    <label>Nombre </label>
                                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", Style = "width:300px", required = "required" })
                                </td>
                                <td>
                                    <label>Apellido </label>
                                    @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control", Style = "width:300px", required = "required" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DNI </label>
                                    @Html.TextBoxFor(model => model.Dni, new { @class = "form-control", Style = "width:300px", required = "required" })
                                </td>
                                <td>
                                    <label>Fecha de nacimineto </label>
                                    @if (ViewBag.accion == "Post")
                                    {
                                        @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", Style = "width:300px", required = "required", @type = "date" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", Style = "width:300px", required = "required", @type = "date", @Value = Model.FechaNacimiento.ToString("yyyy-MM-dd") })
                                    }

                                </td>
                            </tr>
                        </table>
                        <hr style="color: #8dd9f7">

                        <table>
                            <tr>
                                <td>
                                    <label>Celular </label>
                                    @Html.TextBoxFor(model => model.Celular, new { @class = "form-control", Style = "width:300px", required = "required" })
                                </td>
                                <td>
                                    <label>Email</label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", Style = "width:300px", required = "required", @type = "email" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Instagram User</label>
                                    @Html.TextBoxFor(model => model.InstagramUser, new { @class = "form-control", Style = "width:300px", required = "required" })
                                </td>
                            </tr>
                        </table>
                        <hr style="color: #8dd9f7">
                        <table>
                            <tr>
                                <td>
                                    <label>Dirección </label>
                                    @Html.TextBoxFor(model => model.Direccion.Direccion, new { @class = "form-control", Style = "width:300px" })
                                </td>
                                <td>
                                    <label>Ciudad </label>
                                    @Html.TextBoxFor(model => model.Direccion.Ciudad, new { @class = "form-control", Style = "width:300px" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label title="Para averiguar el código postal podes hacerlo ingresando la dirección en: https://www.correoargentino.com.ar/formularios/cpa">Código Postal </label>
                                    @Html.TextBoxFor(model => model.Direccion.CodigoPostal, new { @class = "form-control", Style = "width:300px" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Provincia </label>
                                    @Html.DropDownListFor(model => model.Direccion.Provincia, new SelectList(ViewBag.provincias, "Text", "Value"), new { @class = "form-control", Style = "width:300px"})
                                </td>
                                <td>
                                    <label>País </label>
                                    @Html.DropDownListFor(model => model.Direccion.Pais, new SelectList(ViewBag.paises, "Text", "Value"), new { @class = "form-control", Style = "width:300px"})
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label id="labelDireccion"><input id="checkDireccion" name="checkDireccion" type="checkbox" value="Copiar Direccion" />Copiar a Dirección de facturación</label>
                                </td>
                            </tr>
                        </table>
                        <hr style="color: #8dd9f7">
                        <table id="direccionFacturacion">
                            <tr>
                                <td>
                                    <label>Dirección Facturación</label>
                                    @Html.TextBoxFor(model => model.DireccionFacturacion.Direccion, new { @class = "form-control", Style = "width:300px" })
                                </td>
                                <td>
                                    <label>Ciudad </label>
                                    @Html.TextBoxFor(model => model.DireccionFacturacion.Ciudad, new { @class = "form-control", Style = "width:300px" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label title="Para averiguar el código postal podes hacerlo ingresando la dirección en: https://www.correoargentino.com.ar/formularios/cpa">Código Postal </label>
                                    @Html.TextBoxFor(model => model.DireccionFacturacion.CodigoPostal, new { @class = "form-control", Style = "width:300px" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Provincia </label>
                                    @Html.DropDownListFor(model => model.DireccionFacturacion.Provincia, new SelectList(ViewBag.provincias, "Text", "Value"), new { @class = "form-control", Style = "width:300px" })
                                </td>
                                <td>
                                    <label>País </label>
                                    @Html.DropDownListFor(model => model.DireccionFacturacion.Pais, new SelectList(ViewBag.paises, "Text", "Value"), new { @class = "form-control", Style = "width:300px" })
                                </td>
                            </tr>
                        </table>

                        <hr style="color: #8dd9f7">

                        <table>
                            <tr>
                                <td>
                                    <label>Nombre Completo </label>
                                    @Html.TextBoxFor(model => model.DatosBancarios.NombreCompleto, new { @class = "form-control", Style = "width:300px" })
                                </td>
                                <td>
                                    <label>Cuit/Cuil</label>
                                    @Html.TextBoxFor(model => model.DatosBancarios.CuilCuit, new { @class = "form-control", Style = "width:300px" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>CBU</label>
                                    @Html.TextBoxFor(model => model.DatosBancarios.Cbu, new { @class = "form-control", Style = "width:300px"})
                                </td>
                                <td>
                                    <label>Alias</label>
                                    @Html.TextBoxFor(model => model.DatosBancarios.Alias, new { @class = "form-control", Style = "width:300px"})
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Tipo de Cuenta</label>
                                    @Html.TextBoxFor(model => model.DatosBancarios.TipoCuenta, new { @class = "form-control", Style = "width:300px" })
                                </td>
                                <td>
                                    <label>Banco</label>
                                    @Html.DropDownListFor(model => model.DatosBancarios.Banco, new SelectList(ViewBag.bancos, "Text", "Value"), new { @class = "form-control", Style = "width:300px", required = "required" })
                                </td>
                            </tr>
                        </table>

                        <hr style="color: #8dd9f7">

                        <table>
                            <tr>
                                <td>
                                    <label>Transporte Propio </label>
                                    @Html.TextBoxFor(model => model.TransportePropio, new { @class = "form-control", Style = "width:300px", value = "" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label>Observaciones</label>
                                    @Html.TextBoxFor(model => model.Observaciones, new { @class = "form-control", Style = "width:300px", value = "" })
                                </td>
                                <td></td>
                            </tr>
                        </table>

                        <hr style="color: #8dd9f7">
                        <input name="accion" class="hidden" value="@ViewBag.accion" data-form="error-box" />
                        <input name="copiarFacturacion" id="hiddenCopiarFacturacion" class="hidden" value="" data-form="error-box" />
                        <button id="btn_guardar" type="submit" class="btn btn-primary btn-block btn-submit-to-right">Guardar</button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <label>@ViewBag.mensaje</label>
        }
    }

</div>

<script>
    $(document).ready(function () {
        $("#labelDireccion").bind('click', function () {
            if ($("#checkDireccion")[0].checked)
            {
                $("#direccionFacturacion :input").attr("disabled", "disabled");
                $("#hiddenCopiarFacturacion").val("copiar");
            }
            else
            {
                $("#direccionFacturacion :input").removeAttr("disabled", "disabled");
                $("#hiddenCopiarFacturacion").val("");
            }
            

        });
    });
</script>

