<div id="container" class="main-content" style="padding:50px;  width: 100%;">
    @if (ViewBag.mensaje == "listar")
    {
        <table style="border-spacing: 20px">
            <tr>
                <td>
                    <div id="entries" style="width:200px"></div>
                </td>
                <td>
                    <div id="botones" style="width:200px; padding-top:5px"></div>
                </td>
                <td>
                    <div id="busqueda" style="width:200px"></div>
                </td>
            </tr>
        </table>
        <hr style="color: #8dd9f7">

        <div style="width: 100%; overflow-x: auto;  white-space: nowrap;">

            <table id="table_users" class="display compact hover nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>UserMaster</th>
                        <th>Crea Fechas</th>
                        <th>Carga Bordereaux</th>
                        <th>Carga Salas</th>
                        <th>Ve Bordereaux</th>
                        <th>Bloqueado</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>username</th>
                        <th>Email</th>
                        <th>UserMaster</th>
                        <th>Crea Fechas</th>
                        <th>Carga Bordereaux</th>
                        <th>Carga Salas</th>
                        <th>Ve Bordereaux</th>
                        <th>Bloqueado</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in ViewBag.users)
                    {
                        <tr>
                            <td>
                                @Html.ActionImage("Usuario", "User", new { id = item.UniqueId }, "~/assets/img/edit_icon.png")
                            </td>
                            <td>@item.Username</td>
                            <td>@item.MailRecover</td>
                            <td>@item.UserMaster</td>
                            <td>@item.CrearFechas</td>
                            <td>@item.CargaBordereaux</td>
                            <td>@item.CargaSalas</td>
                            <td>@item.VeBordereaux</td>
                            <td>@item.Blocked</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <hr style="color: #8dd9f7">
        <table style="border-spacing: 20px">
            <tr>
                <td>
                    <div id="info" style="width:200px"></div>
                </td>
                <td>
                    <div id="paginado" style="width:200px"></div>
                </td>
            </tr>
        </table>

    }
    else
    {
        <label>@ViewBag.mensaje</label>
    }

</div>
<script>

    $(document).ready(function () {
        var tableSalas = $('#table_users').DataTable({
            responsive: true,
            dom: 'l<B>ftip',
            buttons: [
                { extend: 'excelHtml5', title: "Salas", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') },
                'csvHtml5',
                { extend: 'pdf', title: "Listado de Salas", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/'), orientation: 'landscape' }
            ],
            'columnDefs': [{ "targets": 0, "className": "text-center" }]
        });

        AplicarFiltrosEnFooter();
        AcomodaDOM();
    });

    function AcomodaDOM() {
        $('#table_users_filter').hide();
        $("#divCapacidad").append($("#SearchContainer"));
        $("#info").append($("#table_users_info"));
        $("#table_users_paginate").hide();
        $("#entries").append($(".dt-buttons"));
        $("#botones").append($(".dataTables_length"));
    }

    function AplicarFiltrosEnFooter() {
        var contador = 0;
        $('#table_users tfoot th').each(function () {
            if (contador != 0) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="' + title + '" />');
            }
            contador++;
        });

        // Apply the search
        var table = $('#table_users').DataTable();
        table.columns().every(function ()
        {
            var that = this;
            $('input', this.footer()).on('keyup change', function ()
            {
                if (that.search() !== this.value)
                    that.search(this.value).draw();
            });


        });
    }

</script>
