<div id="container" class="main-content" style="padding:50px;  width: 100%;">

    @if (ViewBag.mensaje == "listar")
    {
        <table style="border-spacing: 20px">
            <tr>
                <td style="width:200px;">
                    <a href="@Url.RouteUrl("Productor")">
                        <input type="button" value="Crear Productor" class="form-control" style="width:120px" />
                    </a>
                </td>
                <td>
                    <div id="entries" style="width:200px"></div>
                </td>
                <td>
                    <div id="botones" style="width:200px; padding-top:5px"></div>
                </td>
                <td>
                    <div id="busqueda" style="width:200px"></div>
                </td>
            </tr>
        </table>
        <hr style="color: #8dd9f7">

        <div style="width: 100%; overflow-x: auto;  white-space: nowrap;">

            <table id="table_productores" class="display compact hover nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Dni</th>
                        <th>Transporte Propio</th>
                        <th>Celular</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Dni</th>
                        <th>Transporte Propio</th>
                        <th>Celular</th>
                        <th>Email</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in ViewBag.productores)
                {
                        <tr>
                            <td>
                                @Html.ActionImage("DeleteProductor", "Productor", new { dni = item.Dni }, "~/assets/img/delete_icon.png")
                                @Html.ActionImage("Productor", "Productor", new { dni = item.Dni }, "~/assets/img/edit_icon.png")
                            </td>
                            <td>@item.Nombre @item.Apellido</td>
                            <td>@item.Dni
                            <td>@item.TransportePropio</td>
                            <td>@item.Celular</td>
                            <td>@item.Email</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <hr style="color: #8dd9f7">
        <table style="border-spacing: 20px">
            <tr>
                <td>
                    <div id="info" style="width:200px"></div>
                </td>
                <td>
                    <div id="paginado" style="width:200px"></div>
                </td>
            </tr>
        </table>
    }
    else
    {
        <label>@ViewBag.mensaje</label>
    }

</div>

<script>


    $(document).ready(function () {
        var tableStanduperos = $('#table_productores').DataTable({
            responsive: true,
            dom: 'l<B>ftip',
            buttons: [
                { extend: 'excelHtml5', title: "Productores", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') },
                'csvHtml5',
                { extend: 'pdf', title: "Listado de Productores", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') }
            ],
            'columnDefs': [{ "targets": 0, "className": "text-center" }]
        });

        var contador = 0;
        $('#table_productores tfoot th').each(function () {
            if (contador != 0) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="' + title + '" />');
            }
            contador++;
        });


        // Apply the search
        var table = $('#table_productores').DataTable();
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value)
                    that.search(this.value).draw();
            });
        });
        $('#table_productores_filter').hide();

        $("#entries").append($(".dt-buttons"));
        $("#botones").append($(".dataTables_length"));

        $("#info").append($("#table_productores_info"));
        $("#table_productores_paginate").hide();


    });




</script>
