<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SUA - Back Office</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="randomVersion" content="5022">

    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="./assets/css/vendor/icon-sets.css">
    <link rel="stylesheet" href="./assets/css/main.min.css?v=5022">
    <link rel="stylesheet" href="./assets/css/educatina.css?v=5022">
    <link rel="stylesheet" href="./assets/css/pikaday.css?v=5022">
    <link rel="stylesheet" href="./assets/css/demo.css?v=5022">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon.ico">

    @{
        if (ViewBag.title == "Inicio")
        {
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        }
    }


    <script type="text/javascript" src="./assets/js/jquery/jquery-2.1.0.min.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/bootstrap/bootstrap.min.js?v=5022"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
    <style>
        #style-2::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
    </style>
</head>

<body>

    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- SIDEBAR -->
        <div class="sidebar" id="style-2">
            <div style=" align-items:center; background-color:white; padding: 15px; padding-left:45px">
                <a href="@Url.RouteUrl("Index")">
                    <img src="~/assets/img/sua-logo.png" alt="SUA Logo" class="img-responsive logo" style="height: 50px">
                </a>
            </div>
            <div class="force-overflow">
                <nav>
                    <ul class="nav">
                        <li><a href="@Url.RouteUrl("Index")" data-to="dashboard" class="active"><i class="lnr lnr-home"></i> <span>Back Office</span></a></li>
                        <li>
                            <a href="#subFechas" data-to="fechas" data-toggle="collapse" class="collapsed"> <span>Fechas</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subFechas" class="collapse ">
                                <ul class="nav">
                                    <li><a href="@Url.RouteUrl("Fecha")" class=""><i class="lnr lnr-plus-circle"></i><span>Crear Fecha</span></a></li>
                                    <li><a href="@Url.RouteUrl("Fechas")" class=""><i class="lnr lnr-menu"></i><span>Listar</span></a></li>
                                    <li><a href="@Url.RouteUrl("FechasCerradas")" class=""><i class="lnr lnr-layers"></i><span>Fechas Cerradas</span></a></li>
                                    <li><a href="#" class=""><i class="lnr lnr-pie-chart"></i><span>Reportes</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#subSalas" data-to="salas" data-toggle="collapse" class="collapsed"> <span>Terceros</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subSalas" class="collapse ">
                                <ul class="nav">
                                    <li><a href="@Url.RouteUrl("Salas")" class=""><i class="lnr lnr-star"></i><span>Salas</span></a></li>
                                    <li><a href="@Url.RouteUrl("Hoteles")" class=""><i class="lnr lnr-apartment"></i><span>Hoteles</span></a></li>
                                    <li><a href="@Url.RouteUrl("Restaurantes")" class=""><i class="lnr lnr-dinner"></i><span>Restaurantes</span></a></li>
                                    <li><a href="@Url.RouteUrl("Proveedores")" class=""><i class="lnr lnr-book"></i><span>Proveedores</span></a></li>
                                    <li><a href="@Url.RouteUrl("Prensas")" class=""><i class="lnr lnr-bullhorn"></i><span>Prensa</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#ranking" data-to="salas" data-toggle="collapse" class="collapsed"> <span>Ranking</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="ranking" class="collapse ">
                                <ul class="nav">
                                    <li><a href="@Url.RouteUrl("Votaciones")" class=""><i class="lnr lnr-envelope"></i><span>Votaciones</span></a></li>
                                    <li><a target="_blank" href="/ranking?show=sanata&listado=full" class=""><i class="lnr lnr-sort-amount-asc"></i><span>Sanata Stand Up</span></a></li>
                                    <li><a target="_blank" href="/ranking?show=nicolasdetracy&listado=full" class=""><i class="lnr lnr-sort-amount-asc"></i><span>Artesanal</span></a></li>
                                    <li><a target="_blank" href="/ranking?show=lailaygonzo&listado=full" class=""><i class="lnr lnr-sort-amount-asc"></i><span>Laila y Gonzo</span></a></li>
                                    <li><a target="_blank" href="/ranking?show=magalitajes&listado=full" class=""><i class="lnr lnr-sort-amount-asc"></i><span>Magalí Tajes</span></a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a href="#shows" data-to="shows" data-toggle="collapse" class="collapsed"> <span>Shows</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="shows" class="collapse ">
                                <ul class="nav">
                                    <li><a href="@Url.RouteUrl("Shows")" class=""><i class="lnr lnr-cog"></i> <span>Shows</span></a></li>
                                    <li><a href="@Url.RouteUrl("Standuperos")" class=""><i class="lnr lnr-mic"></i> <span>Standuperos</span></a></li>
                                    <li><a href="@Url.RouteUrl("Productores")" class=""><i class="lnr lnr-briefcase"></i> <span>Productores</span></a></li>
                                </ul>
                            </div>
                        </li>

                        <li><a href="@Url.RouteUrl("Ciudades")" class=""><i class="lnr lnr-map-marker"></i> <span>Ciudades</span></a></li>
                        <li><a href="#" class=""><i class="lnr lnr-chart-bars"></i> <span>Estadisticas</span></a></li>
                        <li><a href="@Url.RouteUrl("Users")" class=""><i class="lnr lnr-users"></i> <span>Usuarios</span></a></li>
                        <li><a href="@Url.RouteUrl("Historial")"><i class="lnr lnr-history"></i> <span>Historial</span></a></li>
                        <li><a href="/database/backup"><i class="lnr lnr-database"></i> <span>BackUp</span></a></li>
                        <li><a href="@Url.RouteUrl("Logout")"><i class="lnr lnr-exit"></i> <span>Cerrar sesión</span></a></li>
                    </ul>

                </nav>
            </div>

        </div>
        <!-- END SIDEBAR -->
        <!-- MAIN -->
        <div class="main" style="font-size: 14px;">
            <!-- NAVBAR -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-btn">
                        <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                    </div>
                    <div>
                        <h2>@ViewBag.titulo</h2>
                    </div>

                </div>
            </nav>

            @RenderBody()

            <footer>
                <div class="container-fluid">
                </div>
            </footer>
        </div>
        <!-- END MAIN -->
    </div>
    <!-- END WRAPPER -->


    <script type="text/javascript" src="./assets/js/jquery/jquery-2.1.0.min.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/bootstrap/bootstrap-colorpicker.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/klorofil.min.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/plugins/jquery-easypiechart/jquery.easypiechart.min.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/plugins/chartist/chartist.min.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/main.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/plugins/moment/moment.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/plugins/pikaday/pikaday.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/microsite.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/pages/dashboard.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/jscolor.js"></script>




    <!-- DataTables reference -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/api/sum().js"></script>



    <script src="~/assets/js/jquery/jquery.confirm.min.js"></script>


    <link rel='stylesheet' href="~/assets/calendar/fullcalendar.min.css" />
    <script src="~/assets/calendar/lib/moment.min.js"></script>
    <script src="~/assets/calendar/fullcalendar.js"></script>
    <script type='text/javascript' src='~/assets/calendar/gcal.js'></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css" rel="stylesheet">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</body>

</html>
