<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>SUA - Back Office</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="randomVersion" content="5022">

    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="./assets/css/vendor/icon-sets.css">
    <link rel="stylesheet" href="./assets/css/main.min.css?v=5022">
    <link rel="stylesheet" href="./assets/css/educatina.css?v=5022">
    <link rel="stylesheet" href="./assets/css/pikaday.css?v=5022">
    <link rel="stylesheet" href="./assets/css/demo.css?v=5022">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png?v=5022">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/img/favicon.png?v=5022">


    <script type="text/javascript" src="./assets/js/jquery/jquery-2.1.0.min.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/bootstrap/bootstrap.min.js?v=5022"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    

    <script>
        $(document).ready(function () {





            //-----------------------------Datatables Standupero------------------------------
            var tableStanduperos = $('#table_standuperos').DataTable({
                responsive: true,
                dom: 'l<B>ftip',
                buttons: [
                    { extend: 'excelHtml5', title: "Standuperos", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') },
                    'csvHtml5',
                    { extend: 'pdf', title: "Listado de Standuperos", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') }
                ],
                'columnDefs': [{"targets": 0, "className": "text-center" }]
            });

            var contador = 0;
            $('#table_standuperos tfoot th').each(function () {
                if (contador != 0) {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="' + title + '" />');
                }
                contador++;
            });


            // Apply the search
            var table = $('#table_standuperos').DataTable();
            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value)
                        that.search(this.value).draw();
                });
            });
            $('#table_standuperos_filter').hide();











            //-----------------------------Datatables Productores------------------------------
            var tableStanduperos = $('#table_productores').DataTable({
                responsive: true,
                dom: 'l<B>ftip',
                buttons: [
                    { extend: 'excelHtml5', title: "Productores", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') },
                    'csvHtml5',
                    { extend: 'pdf', title: "Listado de Productores", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') }
                ],
                'columnDefs': [{ "targets": 0, "className": "text-center" }]
            });

            var contador = 0;
            $('#table_productores tfoot th').each(function () {
                if (contador != 0) {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="' + title + '" />');
                }
                contador++;
            });


            // Apply the search
            var table = $('#table_productores').DataTable();
            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value)
                        that.search(this.value).draw();
                });
            });
            $('#table_productores_filter').hide();








            //-----------------------------Datatables Shows------------------------------
            var tableStanduperos = $('#table_shows').DataTable({
                responsive: true,
                dom: 'l<B>ftip',
                buttons: [
                    { extend: 'excelHtml5', title: "Shows", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') },
                    'csvHtml5',
                    { extend: 'pdf', title: "Listado de Shows", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') }
                ],
                'columnDefs': [{ "targets": 0, "className": "text-center" }],
                "bSort": false
            });

            var contador = 0;
            $('#table_shows tfoot th').each(function () {
                if (contador != 0) {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="' + title + '" />');
                }
                contador++;
            });


            // Apply the search
            var table = $('#table_shows').DataTable();
            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value)
                        that.search(this.value).draw();
                });
            });
            $('#table_shows_filter').hide();









            //-----------------------------Datatables Salas------------------------------
            var tableStanduperos = $('#table_salas').DataTable({
                responsive: true,
                dom: 'l<B>ftip',
                buttons: [
                    { extend: 'excelHtml5', title: "Salas", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') },
                    'csvHtml5',
                    { extend: 'pdf', title: "Listado de Salas", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/'), orientation: 'landscape' }
                ],
                'columnDefs': [{ "targets": 0, "className": "text-center" }],
                "bSort": false
            });

            var contador = 0;
            $('#table_salas tfoot th').each(function () {
                if (contador != 0) {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="' + title + '" />');
                }
                contador++;
            });


            // Apply the search
            var table = $('#table_salas').DataTable();
            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value)
                        that.search(this.value).draw();
                });
            });
            $('#table_salas_filter').hide();




            //-----------------------------Datatables Fecha------------------------------
            var tableStanduperos = $('#table_fechas').DataTable({
                responsive: true,
                dom: 'l<B>ftip',
                buttons: [
                    { extend: 'excelHtml5', title: "Fechas", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') },
                    'csvHtml5',
                    { extend: 'pdf', title: "Listado de Fechas", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/'), orientation: 'landscape' }
                ],
                'columnDefs': [{ "targets": 0, "className": "text-center" }],
                "bSort": false
            });

            var contador = 0;
            $('#table_fechas tfoot th').each(function () {
                if (contador != 0) {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="' + title + '" />');
                }
                contador++;
            });


            // Apply the search
            var table = $('#table_fechas').DataTable();
            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value)
                        that.search(this.value).draw();
                });
            });
            $('#table_fechas_filter').hide();






            //-----------------------------Datatables Fecha Cerradas------------------------------
            var tableStanduperos = $('#table_fechas_cerradas').DataTable({
                responsive: true,
                dom: 'l<B>ftip',
                buttons: [
                    { extend: 'excelHtml5', title: "Fechas", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') },
                    'csvHtml5',
                    { extend: 'pdf', title: "Listado de Fechas", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/'), orientation: 'landscape' }
                ],
                'columnDefs': [{ "targets": 0, "className": "text-center" }],
                "bSort": false
            });

            var contador = 0;
            $('#table_fechas_cerradas tfoot th').each(function () {
                if (contador != 0) {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="' + title + '" />');
                }
                contador++;
            });


            // Apply the search
            var table = $('#table_fechas_cerradas').DataTable();
            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value)
                        that.search(this.value).draw();
                });
            });
            $('#table_fechas_cerradas_filter').hide();









            $("#entries").append($(".dt-buttons"));
            $("#botones").append($(".dataTables_length"));

            $("#info").append($("#table_standuperos_info"));
            $("#table_standuperos_paginate").hide();
            //$("#paginado").append($("#table_standuperos_paginate"));
            //$("#paginado").attr("style", "padding: 0.5em 1em;");

            $("#info").append($("#table_productores_info"));
            $("#table_productores_paginate").hide();

            $("#info").append($("#table_salas_info"));
            $("#table_salas_paginate").hide();

            $("#info").append($("#table_shows_info"));
            $("#table_shows_paginate").hide();

            $("#info").append($("#table_fechas_info"));
            $("#table_fechas_paginate").hide();


        });
    </script>


</head>

<body>

    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- SIDEBAR -->
        <div class="sidebar">
            <div style=" align-items:center; background-color:white; padding: 15px; padding-left:45px">
                <a href="@Url.RouteUrl("Index")">
                    <img src="~/assets/img/sua-logo.jpeg" alt="SUA Logo" class="img-responsive logo">
                </a>
            </div>
            <div class="sidebar-scroll">
                <nav>


                    <ul class="nav">
                        <li><a href="@Url.RouteUrl("Index")" data-to="dashboard" class="active"><i class="lnr lnr-home"></i> <span>Back Office</span></a></li>
                        <li><a href="#" class=""><i class="lnr lnr-cog"></i> <span>Configurar Sitio</span></a></li>
                        <li>
                            <a href="#sublogos" data-toggle="collapse" class="collapsed"> <span>Standuperos</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="sublogos" class="collapse ">
                                <ul class="nav">
                                    <li><a href="@Url.RouteUrl("Standuperos")" class="">Listar</a></li>
                                    <li><a href="@Url.RouteUrl("Standupero")" class="">Crear</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#subShows" data-to="shows" data-toggle="collapse" class="collapsed"> <span>Shows</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subShows" class="collapse ">
                                <ul class="nav">
                                    <li><a href="@Url.RouteUrl("Shows")" class="">Listar</a></li>
                                    <li><a href="@Url.RouteUrl("Show")" class="">Crear</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#subSalas" data-to="salas" data-toggle="collapse" class="collapsed"> <span>Salas</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subSalas" class="collapse ">
                                <ul class="nav">
                                    <li><a href="@Url.RouteUrl("Salas")" class="">Listar</a></li>
                                    <li><a href="@Url.RouteUrl("Sala")" class="">Crear</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#subProductores" data-to="productores" data-toggle="collapse" class="collapsed"> <span>Productores</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subProductores" class="collapse ">
                                <ul class="nav">
                                    <li><a href="@Url.RouteUrl("Productores")" class="">Listar</a></li>
                                    <li><a href="@Url.RouteUrl("Productor")" class="">Crear</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#subFechas" data-to="fechas" data-toggle="collapse" class="collapsed"> <span>Fechas</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subFechas" class="collapse ">
                                <ul class="nav">
                                    <li><a href="@Url.RouteUrl("Fechas")" class="">Listar</a></li>
                                    <li><a href="@Url.RouteUrl("Fecha")" class="">Crear</a></li>
                                    <!--<li><a href="@Url.RouteUrl("FechasCerradas")" class="">Fechas Cerradas</a></li>-->
                                </ul>
                            </div>
                        </li>
                        <li><a href="#"><i class="lnr lnr-exit"></i> <span>Cerrar sesión</span></a></li>
                    </ul>

                </nav>
            </div>

        </div>
        <!-- END SIDEBAR -->
        <!-- MAIN -->
        <div class="main" style="font-size: 14px;">
            <!-- NAVBAR -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-btn">
                        <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                    </div>
                    <div class="">
                        <h2>@ViewBag.titulo</h2>
                    </div>

                </div>
            </nav>

            @RenderBody()

            <footer>
                <div class="container-fluid">
                </div>
            </footer>
        </div>
        <!-- END MAIN -->
    </div>
    <!-- END WRAPPER -->


    <script type="text/javascript" src="./assets/js/jquery/jquery-2.1.0.min.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/bootstrap/bootstrap-colorpicker.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/klorofil.min.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/plugins/jquery-easypiechart/jquery.easypiechart.min.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/plugins/chartist/chartist.min.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/main.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/plugins/moment/moment.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/plugins/pikaday/pikaday.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/microsite.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/pages/dashboard.js?v=5022"></script>
    <script type="text/javascript" src="./assets/js/jscolor.js"></script>




    <!-- DataTables reference -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>


    <script src="~/assets/js/jquery/jquery.confirm.min.js"></script>











</body>

</html>
