@model SUA.Models.Bordereaux
<style>
    table {
        border-spacing: 20px;
    }

    td {
    }


    plus {
        display: inline-block;
        height: 134px;
        padding: 0;
        margin: 0;
        vertical-align: top;
        width: 104px;
        background-image: url( 'http://thinkingstiff.com/images/matt.jpg' );
        background-size: 100px 100px;
        height: 300px;
        width: 104px;
    }

    .form-control-override {
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        background-color: #e0e1e2;
    }

    .form-control-button {
        width: 33px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .form-control-button-entrada {
        width: 33px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .form-control-button-impuesto {
        width: 33px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .form-control-button-gasto {
        width: 33px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
</style>


<div class="main-content">
    @using (Html.BeginForm("Bordereaux", "Fecha", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        if (ViewBag.mensaje == "creado")
        {
            <label>El bordereaux ha sido cargado con éxito. Puede verlo cargado en el <a href="@Url.RouteUrl("Fechas")">Listado de Fechas</a></label>
        }
        else if (ViewBag.mensaje == "actualizado")
        {
            <label>El bordereaux ha sido actualizado con éxito. Puede ver los cambios en el <a href="@Url.RouteUrl("Fechas")">Listado de Fechas</a></label>
        }
        else if (ViewBag.mensaje == "Get")
        {
            <div class="panel">
                <div class="panel-body">
                    <form data-id="" id="pdf-create-form" to-action="/pdfs/create">


                        <table style="border-spacing: 20px">
                            <tr>
                                <td>
                                    <label>Entradas </label>
                                    <select class="form-control" id="entradasList" style="width:200px">
                                        @foreach (var item in ViewBag.entradas)
                                        {
                                        <option value="@item.Text">@item.Value</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <label>Cantidad </label>
                                    <input id="entradaCantidad" class="form-control" type="number" min="0" style="width:120px" />
                                </td>
                                <td>
                                    <label>Precio </label>
                                    <input id="entradaPrecio" class="form-control" type="number" step="0.01" min="0" style="width:120px" />
                                </td>
                                <td>
                                    <label>Total </label>
                                    <input id="entradaTotal" class="form-control" type="number" step="0.01" min="0" readonly style="width:120px" />
                                </td>
                                <td>
                                    <label>&nbsp;</label>
                                    <input id="addEntrada" class="form-control" value="+" type="button" />
                                </td>
                            </tr>
                        </table>

                        <div id="entradasDiv">
                            @if (ViewBag.accion == "Put")
                            {
                                int contador = 1;
                                foreach (var item in Model.Entradas)
                                {
                                    var idEntrada = contador + "-a";
                                    var idCantidad = contador + "-b";
                                    var idPrecio = contador + "-c";
                                    var idTotal = contador + "-d";
                                    <div id="EntradasAgregadas">
                                        <input id="@idEntrada" class="form-control-override" value="@item.Nombre" type="text" readonly style="width:200px" />
                                        <input id="@idCantidad" class="form-control-override" value="@item.Cantidad" type="text" readonly style="width:120px" />
                                        <input id="@idPrecio" class="form-control-override" value="@item.Precio.ToString().Replace(",", ".")" type="text" readonly style="width:120px" />
                                        <input id="@idTotal" class="form-control-override" value="@item.Total.ToString().Replace(",", ".")" type="text" readonly style="width:120px" />
                                        <input id="deleteEntrada" class="form-control-button-entrada" value="-" type="button" /><br />
                                    </div>
                                    contador = contador + 1;
                                }
                            }
                        </div>

                        <table style="border-spacing: 20px">
                            <tr>
                                <td>
                                    <br />
                                    <label>Total</label>
                                    @Html.TextBoxFor(model => model.EntradasTotal, new { @id = "entradasTotal", @class = "form-control", Style = "width:300px", @readonly = "readonly" })
                                </td>
                                <td>
                                    <br />
                                    <label>Bruto</label>
                                    @Html.TextBoxFor(model => model.EntradasBruto, new { @id = "entradasBruto", @class = "form-control", Style = "width:300px", @placeholder = "$", @readonly = "readonly" })
                                </td>
                            </tr>
                        </table>

                        <hr style="color: #8dd9f7">

                        <table style="border-spacing: 20px">
                            <tr>
                                <td>
                                    <label>Impuestos y Deducciones</label>
                                    <select class="form-control" id="impuestosList" style="width:200px">
                                        @foreach (var item in ViewBag.impuestos)
                                        {
                                        <option value="@item.Text">@item.Value</option>
                                        }
                                    </select>
                                </td>
                                <td style="text-align:center">
                                    <label>% </label>
                                    <input id="impuestoPorcentaje" class="form-control" type="number" min="0" max="100" style="width:75px" />
                                </td>
                                <td style="text-align:center">
                                    <label>$ </label>
                                    <input id="impuestoMonto" class="form-control" type="number" step="0.01" min="0" style="width:75px" />
                                </td>
                                <td>
                                    <label>Comentarios </label>
                                    <input id="impuestoComentarios" class="form-control" type="text" placeholder="[texto]" style="width:220px" />
                                </td>
                                <td>
                                    <label>&nbsp;</label>
                                    <input id="addImpuesto" class="form-control" value="+" type="button" />
                                </td>
                            </tr>
                        </table>

                        <div id="impuestosDiv">
                            @if (ViewBag.accion == "Put")
                            {
                                int contador = 1;
                                foreach (var item in Model.ImpuestosDeduccionesTeatro)
                                {
                                    var idImpuesto = contador + "-e";
                                    var idPorcentaje = contador + "-f";
                                    var idMonto = contador + "-g";
                                    var idComentarios = contador + "-h";
                            <div id="ImpuestosAgregados">
                                <input id="@idImpuesto" class="form-control-override" value="@item.Nombre" type="text" readonly style="width:200px" />
                                <input id="@idPorcentaje" class="form-control-override" value='@item.Porcentaje.ToString().Replace(",",".")' type="text" readonly style="width:75px" />
                                <input id="@idMonto" class="form-control-override" value='@item.Monto.ToString().Replace(",",".")' type="text" readonly style="width:75px" />
                                <input id="@idComentarios" class="form-control-override" value="@item.Comentarios" type="text" readonly style="width:220px" />
                                <input id="deleteImpuesto" class="form-control-button-impuesto" value="-" type="button" /><br />
                            </div>
                                    contador = contador + 1;
                                }
                            }
                        </div>

                        <table style="border-spacing: 20px">
                            <tr>
                                <td>
                                    <br />
                                    <label>Bruto </label>
                                    @Html.TextBoxFor(model => model.ImpuestosDeduccionesBruto, new { @id = "impuestosDeduccionesBruto", @class = "form-control", Style = "width:200px", @readonly = "readonly" })
                                </td>
                                <td>
                                    <br />
                                    <label>Total a Deducir </label>
                                    @Html.TextBoxFor(model => model.ImpuestosDeduccionesTotalDeducir, new { @id = "impuestosDeduccionesTotalDeducir", @class = "form-control", Style = "width:200px", @readonly = "readonly", @value = "0" })
                                </td>
                                <td>
                                    <br />
                                    <label>Neto </label>
                                    @Html.TextBoxFor(model => model.ImpuestosDeduccionesNeto, new { @id = "impuestosDeduccionesNeto", @class = "form-control", Style = "width:200px", @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br />
                                    <label>Compañia </label>
                                    @Html.TextBoxFor(model => model.ImpuestosDeduccionesCompanyPorcentaje, new { @id = "impuestosDeduccionesCompanyPorcentaje", @class = "form-control", Style = "width:200px", required = "required", @placeholder = "%" })
                                </td>
                                <td>
                                    <br />
                                    <label>&nbsp;</label>
                                    @Html.TextBoxFor(model => model.ImpuestosDeduccionesCompanyMonto, new { @name = "ImpuestosDeduccionesCompanyMonto", @id = "impuestosDeduccionesCompanyMonto", @class = "form-control", Style = "width:200px", @placeholder = "$", @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br />
                                    <label>Teatro </label>
                                    @Html.TextBoxFor(model => model.ImpuestosDeduccionesTeatroPorcentaje, new { @id = "impuestosDeduccionesTeatroPorcentaje", @class = "form-control", Style = "width:200px", @placeholder = "%", @readonly = "readonly" })
                                </td>
                                <td>
                                    <br />
                                    <label>&nbsp;</label>
                                    @Html.TextBoxFor(model => model.ImpuestosDeduccionesTeatroMonto, new { @id = "impuestosDeduccionesTeatroMonto", @class = "form-control", Style = "width:200px", @placeholder = "$", @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><input id="check_arregloFijo" type="checkbox" name="checkbox" value="ArregloFijo">Arreglo Fijo</label>
                                </td>
                            </tr>
                        </table>

                        <hr style="color: #8dd9f7">

                        <table style="border-spacing: 20px">
                            <tr>
                                <td>
                                    <label>Gastos Compañia </label>
                                    <select class="form-control" id="gastosList" style="width:200px">
                                        @foreach (var item in ViewBag.gastos)
                                        {
                                        <option value="@item.Text">@item.Value</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <label>Monto </label>
                                    <input id="gastoMonto" class="form-control" type="number" min="0" style="width:120px" />
                                </td>
                                <td>
                                    <label>Detalle </label>
                                    <input id="gastoDetalle" class="form-control" style="width:120px" />
                                </td>
                                <td>
                                    <label>&nbsp;</label>
                                    <input id="addGasto" class="form-control" value="+" type="button" />
                                </td>
                            </tr>
                        </table>

                        <div id="gastosDiv">
                            @if (ViewBag.accion == "Put")
                            {
                                int contador = 1;

                                foreach (var item in Model.GastosCompany)
                                {
                                    var idGasto = contador + "-i";
                                    var idMonto = contador + "-j";
                                    var idDetalle = contador + "-k";
                            <div id="GastosAgregados">
                                <input id="@idGasto" class="form-control-override" value="@item.Gasto" type="text" readonly style="width:200px" />
                                <input id="@idMonto" class="form-control-override" value="@item.Monto.ToString().Replace(",",".")" type="text" readonly style="width:120px" />
                                <input id="@idDetalle" class="form-control-override" value="@item.Detalle" type="text" readonly style="width:120px" />
                                <input id="deleteGasto" class="form-control-button-gasto" value="-" type="button" /><br />
                            </div>
                                    contador = contador + 1;
                                }
                            }
                        </div>

                        <table style="border-spacing: 20px">
                            <tr>
                                <td>
                                    <br />
                                    <label>Total Gastos </label>
                                    @Html.TextBoxFor(model => model.GastosCompanyTotal, new { @class = "form-control", Style = "width:200px", @readonly = "readonly" })
                                </td>
                                <td>
                                    <br />
                                    <label>Neto</label>
                                    @Html.TextBoxFor(model => model.GastosCompanyNeto, new { @id = "gastosCompanyNeto", @class = "form-control", Style = "width:200px", @readonly = "readonly" })
                                </td>
                            </tr>
                        </table>

                        <hr style="color: #8dd9f7">

                        <table style="border-spacing: 20px">
                            <tr>
                                <td>
                                    <br />
                                    <label>SUA </label>
                                    @Html.TextBoxFor(model => model.SUAPorcentaje, new { @id = "suaPorcentaje", @class = "form-control", Style = "width:200px", required = "required", @type = "number", @step = "0.01", @placeholder = "%" })
                                </td>
                                <td>
                                    <br />
                                    <label>&nbsp;</label>
                                    @Html.TextBoxFor(model => model.SUAMonto, new { @id = "suaMonto", @class = "form-control", Style = "width:200px", @placeholder = "$", @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br />
                                    <label>Show </label>
                                    @Html.TextBoxFor(model => model.ShowPorcentaje, new { @id = "showPorcentaje", @class = "form-control", Style = "width:200px", @placeholder = "%", @readonly = "readonly" })
                                </td>
                                <td>
                                    <br />
                                    <label>&nbsp;</label>
                                    @Html.TextBoxFor(model => model.ShowMonto, new { @id = "showMonto", @class = "form-control", Style = "width:200px", @placeholder = "$", @readonly = "readonly" })
                                </td>
                            </tr>
                        </table>
                        <hr style="color: #8dd9f7">
                        <table>
                            <tr>
                                <td>
                                    <label class="form-control"><input id="check_arregloProductor" type="checkbox" name="checkbox" value="ArregloFijo">División Productor</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><input id="radio_porcentajeProductor" type="radio" name="radio_productor" value="ArregloFijo">Porcentaje</label>
                                    @Html.TextBoxFor(model => model.ProductorPorcentaje, new { @id = "ProductorPorcentaje", @class = "form-control", Style = "width:200px", @placeholder = "%", @readonly = "readonly" })
                                </td>
                                <td>
                                    <label><input id="radio_fijoProductor" type="radio" name="radio_productor" value="ArregloFijo" checked>Fijo</label>
                                    @Html.TextBoxFor(model => model.ProductorMonto, new { @id = "ProductorMonto", @class = "form-control", Style = "width:200px", @placeholder = "$", @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <br />
                                    <label>SUA Final</label>
                                    @Html.TextBoxFor(model => model.SUAMontoFinal, new { @id = "SUAMontoFinal", @class = "form-control", Style = "width:200px", @placeholder = "$", @readonly = "readonly" })
                                </td>
                            </tr>
                        </table>

                        <hr style="color: #8dd9f7">

                        <table style="border-spacing: 20px">
                            <tr>
                                <td>
                                    <label>Fecha de Cobro </label>
                                    @if (ViewBag.accion == "Put")
                                    {
                                    @Html.TextBoxFor(model => model.FechaCobro, new { @class = "form-control", Style = "width:200px", required = "required", @type = "date", @Value = Model.FechaCobro.ToString("yyyy-MM-dd") })
                                    }
                                    else
                                    {
                                    @Html.TextBoxFor(model => model.FechaCobro, new { @class = "form-control", Style = "width:200px", required = "required", @type = "date" })
                                    }


                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br />
                                    <label>Forma</label>
                                    @Html.TextBoxFor(model => model.Forma, new { @class = "form-control", Style = "width:400px", required = "required" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br />
                                    <label>Comentarios </label>
                                    @Html.TextBoxFor(model => model.Comentarios, new { @class = "form-control", Style = "width:400px" })
                                </td>
                            </tr>
                        </table>

                        <hr style="color: #8dd9f7">

                        <input name="accion" class="hidden" value="@ViewBag.accion" data-form="error-box" />
                        <input name="_entradas" id="entradasSeleccionadas" class="hidden" data-form="error-box" />
                        <input name="_impuestos" id="impuestosSeleccionados" class="hidden" data-form="error-box" />
                        <input name="_gastos" id="gastosSeleccionados" class="hidden" data-form="error-box" />
                        <input name="_arregloFijo" id="_arregloFijo" value="no" class="hidden" data-form="error-box" />
                        <input name="ArregloProductor" id="ArregloProductor" class="hidden" data-form="error-box" />
                        <input name="id" id="idFecha" class="hidden" data-form="error-box" />


                        @if (ViewBag.accion == "Put")
                        {
                            <input id="counterEntradas" class="hidden" value="@Model.Entradas.Count" data-form="error-box" />
                            <input id="counterImpuestos" class="hidden" value="@Model.ImpuestosDeduccionesTeatro.Count" data-form="error-box" />
                            <input id="counterGastos" class="hidden" value="@Model.GastosCompany.Count" data-form="error-box" />
                            <button id="btn_guardar" type="submit" class="btn btn-primary btn-block btn-submit-to-right">Guardar cambios</button>
                        }
                        else
                        {
                            <input id="counterEntradas" class="hidden" value="0" data-form="error-box" />
                            <input id="counterImpuestos" class="hidden" value="0" data-form="error-box" />
                            <input id="counterGastos" class="hidden" value="0" data-form="error-box" />
                            <button id="btn_guardar" type="submit" class="btn btn-primary btn-block btn-submit-to-right">Guardar</button>
                        }

                    </form>
                </div>
            </div>
        }
        else
        {
            <label>@ViewBag.mensaje</label>
        }
    }

</div>

<script>

    $(document).ready(function() {
        $('#form').submit(function () {
            if ($("#btn_guardar").is(":focus"))
                return true;
            else
                return false;
        });
    });


    if ('@ViewBag.accion' == "Put")
    {
        ComportamientoPut();
    }
    else
    {
        //tomo el id de la querystring
        $("#idFecha").val(window.location.href.split('=')[1]);
        $("#impuestosDeduccionesTotalDeducir").val("0");
        $("#GastosCompanyTotal").val("0");

        divisionProductor(false);
    }

    $("#addEntrada").click(function ()
    {
        if ($("#entradaCantidad").val() != "" && $("#entradaPrecio").val() != "")
        {
            AgregarEntrada();
        }
        else
        {
            alert("Debe completar precio y cantidad poder ingresar una entrada");
        }
    });

    $("#addImpuesto").click(function ()
    {
        if ($("#impuestoPorcentaje").val() != "")
        {
            AgregarImpuesto();
        }
        else
        {
            alert("Debe ingresar un porcentaje válido");
        }
    });

    $("#addGasto").click(function ()
    {
        if ($("#gastoMonto").val() != "")
        {
            AgregarGasto();
        }
        else
        {
            alert("Debe completar el monto del gasto");
        }
    });

    function RecorreEntradas(accion)
    {
        var cantidadEntradas = 0;
        var bruto = 0;
        var contador = parseInt($("#counterEntradas").val());
        var entradasString = "";
        for (var i = contador; i > 0; i--)
        {
            var idEntrada = "#" + i + "-a";
            var idCantidad = "#" + i + "-b";
            var idPrecio = "#" + i + "-c";
            var idTotal = "#" + i + "-d";

            if ($(idEntrada).val() != undefined)
            {
                if (entradasString == "")
                {
                    entradasString = $(idEntrada).val() + "-" + $(idCantidad).val() + "-" + $(idPrecio).val() + "-" + $(idTotal).val();
                }
                else
                {
                    entradasString = entradasString + "*" + $(idEntrada).val() + "-" + $(idCantidad).val() + "-" + $(idPrecio).val() + "-" + $(idTotal).val();
                }

                //Hago las sumatorias
                cantidadEntradas = cantidadEntradas + parseInt($(idCantidad).val());
                bruto = bruto + parseFloat($(idTotal).val());
            }
        }

        if (accion != "PUT")
        {
            //asigno los totales
            $("#entradasTotal").val(cantidadEntradas);
            $("#entradasBruto").val(bruto.toFixed(2));

            CalcularTotalADeducirAndNeto(bruto);
            if ($('#check_arregloFijo').is(":checked"))
                CalcularTeatroSua("fijo");
            else
                CalcularTeatroSua();
            CalcularSUAMontoNetoFinal();
        }
        $("#entradasSeleccionadas").val(entradasString);

    }

    function RecorreImpuestos(accion)
    {
        var totalDeducir = 0;
        var contador = parseInt($("#counterImpuestos").val());
        var entradasString = "";
        for (var i = contador; i > 0; i--)
        {
            var idImpuesto = "#" + i + "-e";
            var idPorcentaje = "#" + i + "-f";
            var idMonto = "#" + i + "-g";
            var idComentarios = "#" + i + "-h";

            if ($(idImpuesto).val() != undefined)
            {
                if (entradasString == "")
                {
                    entradasString = $(idImpuesto).val() + "-" + $(idPorcentaje).val() + "-" + $(idMonto).val() + "-" + $(idComentarios).val();
                }
                else
                {
                    entradasString = entradasString + "*" + $(idImpuesto).val() + "-" + $(idPorcentaje).val() + "-" + $(idMonto).val() + "-" + $(idComentarios).val();
                }
                //Hago las sumatorias
                totalDeducir = totalDeducir + parseFloat($(idMonto).val());
            }
        }

        if (accion != "PUT")
        {
            var totalDeducirArreglado = totalDeducir.toFixed(2).replace(",", ".");
            $("#impuestosDeduccionesTotalDeducir").val(totalDeducirArreglado);

            var impuestoDeduccionesNetoArreglado = (parseFloat($("#entradasBruto").val()) - totalDeducir).toFixed(2).replace(",", ".");
            $("#impuestosDeduccionesNeto").val(impuestoDeduccionesNetoArreglado);

            if ($('#check_arregloFijo').is(":checked"))
                CalcularTeatroSua("fijo");
            else
                CalcularTeatroSua();
            RecorreGastos(accion);
            CalcularSUAMontoNetoFinal();
        }

        $("#impuestosSeleccionados").val(entradasString);
    }

    function RecorreGastos(accion)
    {
        var sumatoriaGastos = 0;
        var contador = parseInt($("#counterGastos").val());
        var entradasString = "";
        for (var i = contador; i > 0; i--)
        {
            var idGasto = "#" + i + "-i";
            var idMonto = "#" + i + "-j";
            var idDetalle = "#" + i + "-k";

            if ($(idGasto).val() != undefined)
            {
                if (entradasString == "")
                {
                    entradasString = $(idGasto).val() + "-" + $(idMonto).val() + "-" + $(idDetalle).val();
                }
                else
                {
                    entradasString = entradasString + "*" + $(idGasto).val() + "-" + $(idMonto).val() + "-" + $(idDetalle).val();
                }
                sumatoriaGastos = sumatoriaGastos + parseFloat($(idMonto).val());
            }
        }

        if (accion != "PUT")
        {
            $("#GastosCompanyTotal").val(sumatoriaGastos.toFixed(2));
            var neto = parseFloat($("#impuestosDeduccionesCompanyMonto").val()) - sumatoriaGastos;
            $("#gastosCompanyNeto").val(neto.toFixed(2));

            CalcularSUAMontoNetoFinal();
        }

        $("#gastosSeleccionados").val(entradasString);
    }

    function CalcularTotalADeducirAndNeto()
    {
        var bruto = $("#entradasBruto").val();
        $("#impuestosDeduccionesBruto").val(bruto);
        $("#impuestosDeduccionesNeto").val(bruto - parseFloat($("#impuestosDeduccionesTotalDeducir").val()));
    }

    function AgregarEntrada()
    {
        //hago calculo
        var total = $("#entradaCantidad").val() * $("#entradaPrecio").val();
        $("#entradaTotal").val(total.toFixed(2));

        //Obtengo el contador y lo incremento
        var contador = parseInt($("#counterEntradas").val());
        contador = contador + 1;
        $("#counterEntradas").val(contador);

        var divContenedor = jQuery('<div id="EntradasAgregadas"></div>');
        var entrada = jQuery('<input id="' + contador + '-a" class="form-control-override"  value="' + $("#entradasList option:selected").text() + '" type="text" readonly style="width:200px" />');
        var cantidad = jQuery('<input id="' + contador + '-b" class="form-control-override"  value="' + $("#entradaCantidad").val() + '" type="text" readonly style="width:120px" />');
        var precio = jQuery('<input id="' + contador + '-c" class="form-control-override"  value="' + $("#entradaPrecio").val() + '" type="text" readonly style="width:120px" />');
        var total = jQuery('<input id="' + contador + '-d" class="form-control-override"  value="' + $("#entradaTotal").val() + '" type="text" readonly style="width:120px" />');
        var eliminar = jQuery('<input class="form-control-button" value="-" type="button" /><br />');
        eliminar.click(BorrarEntrada);

        divContenedor.append(entrada);
        divContenedor.append(cantidad);
        divContenedor.append(precio);
        divContenedor.append(total);
        divContenedor.append(eliminar);
        $('#entradasDiv').append(divContenedor);


        //borro los campos
        $("#entradaCantidad").val("");
        $("#entradaPrecio").val("");
        $("#entradaTotal").val("");

        RecorreEntradas("POST");
    }

    function AgregarImpuesto()
    {
        //Obtengo el contador y lo incremento
        var contador = parseInt($("#counterImpuestos").val());
        contador = contador + 1;
        $("#counterImpuestos").val(contador);

        var divContenedor = jQuery('<div id="ImpuestosAgregados"></div>');
        var impuesto = jQuery('<input id="' + contador + '-e" class="form-control-override"  value="' + $("#impuestosList option:selected").text() + '" type="text" readonly style="width:200px" />');
        var porcentaje = jQuery('<input id="' + contador + '-f" class="form-control-override"  value="' + $("#impuestoPorcentaje").val() + '" type="text" readonly style="width:75px" />');
        var monto = jQuery('<input id="' + contador + '-g" class="form-control-override"  value="' + $("#impuestoMonto").val() + '" type="text" readonly style="width:75px" />');
        var comentarios = jQuery('<input id="' + contador + '-h" class="form-control-override"  value="' + $("#impuestoComentarios").val() + '" type="text" readonly style="width:220px" />');
        var eliminar = jQuery('<input class="form-control-button" value="-" type="button" /><br />');
        eliminar.click(BorrarImpuesto);

        divContenedor.append(impuesto);
        divContenedor.append(porcentaje);
        divContenedor.append(monto);
        divContenedor.append(comentarios);
        divContenedor.append(eliminar);
        $('#impuestosDiv').append(divContenedor);


        //borro los campos
        $("#impuestoPorcentaje").val("");
        $("#impuestoMonto").val("");
        $("#impuestoComentarios").val("");

        RecorreImpuestos("POST");
    }

    function AgregarGasto()
    {
        //Obtengo el contador y lo incremento
        var contador = parseInt($("#counterGastos").val());
        contador = contador + 1;
        $("#counterGastos").val(contador);

        var divContenedor = jQuery('<div id="GastosAgregados"></div>');
        var gasto = jQuery('<input id="' + contador + '-i" class="form-control-override"  value="' + $("#gastosList option:selected").text() + '" type="text" readonly style="width:200px" />');
        var monto = jQuery('<input id="' + contador + '-j" class="form-control-override"  value="' + $("#gastoMonto").val() + '" type="text" readonly style="width:120px" />');
        var detalle = jQuery('<input id="' + contador + '-k" class="form-control-override"  value="' + $("#gastoDetalle").val() + '" type="text" readonly style="width:120px" />');
        var eliminar = jQuery('<input class="form-control-button" value="-" type="button" /><br />');
        eliminar.click(BorrarGasto);

        divContenedor.append(gasto);
        divContenedor.append(monto);
        divContenedor.append(detalle);
        divContenedor.append(eliminar);
        $('#gastosDiv').append(divContenedor);


        //borro los campos
        $("#gastoMonto").val("");
        $("#gastoDetalle").val("");

        RecorreGastos("POST");
    }

    function BorrarEntrada()
    {
        $(this).parent().remove();
        RecorreEntradas();
        RecorreImpuestos();
        if ($('#check_arregloFijo').prop('checked'))
            CalcularTeatroMontoFijo();
        else
            CalcularPorcentajesPostImpuestos();
        RecorreGastos();
        CalcularSUAMontoNetoFinal();
    }

    function BorrarImpuesto()
    {
        $(this).parent().remove();
        RecorreImpuestos();
        if ($('#check_arregloFijo').prop('checked'))
            CalcularTeatroMontoFijo();
        else
            CalcularPorcentajesPostImpuestos();
        RecorreGastos();
        CalcularSUAMontoNetoFinal();
    }

    function BorrarGasto()
    {
        $(this).parent().remove();
        RecorreGastos();
        CalcularSUAMontoNetoFinal();
    }

    function CalcularPorcentajesPostImpuestos()
    {
        var company = parseFloat($('#impuestosDeduccionesCompanyPorcentaje').val());
        $('#impuestosDeduccionesTeatroPorcentaje').val(100 - company);

        var neto = parseFloat($("#impuestosDeduccionesNeto").val());
        var montoCompany = (neto * company / 100).toFixed(2);
        var teatro = (neto - montoCompany).toFixed(2);
        $("#impuestosDeduccionesCompanyMonto").val(montoCompany);
        $("#impuestosDeduccionesTeatroMonto").val(teatro);

        var gastos = parseFloat($("#GastosCompanyTotal").val());
        $("#gastosCompanyNeto").val(montoCompany - gastos);
    }

    function CalcularTeatroSua(tipo)
    {
        if (tipo == "fijo")
        {
            CalcularTeatroMontoFijo();
        }
        else
        {
            CalcularPorcentajesPostImpuestos();
        }
    }

    function CalcularTeatroMontoFijo()
    {
        var montoTeatro = parseFloat($('#impuestosDeduccionesTeatroMonto').val());
        var neto = parseFloat($("#impuestosDeduccionesNeto").val());
        var porcentajeTeatro = montoTeatro * 100 / neto;
        var porcentajeTeatro = porcentajeTeatro.toFixed(2);
        $('#impuestosDeduccionesTeatroPorcentaje').val(porcentajeTeatro);
        $("#impuestosDeduccionesCompanyMonto").val(neto - montoTeatro);

        var gastos = parseFloat($("#GastosCompanyTotal").val());
        $("#gastosCompanyNeto").val(parseFloat($("#impuestosDeduccionesCompanyMonto").val()) - gastos);


    }

    function CalcularSUAMontoNetoFinal()
    {
        var company = parseFloat($('#suaPorcentaje').val());
        $('#showPorcentaje').val(100 - company);

        var neto = parseFloat($("#gastosCompanyNeto").val());
        var montoCompany = neto * company / 100;
        var show = neto - montoCompany;
        $("#suaMonto").val(montoCompany.toFixed(2));
        $("#showMonto").val(show.toFixed(2));
        CalcularDivisionProductor();
    }

    $("#entradaPrecio").keydown(function (event)
    {
        var keyCode = event.keyCode || event.which;

        if (keyCode == 9)
        {
            event.preventDefault();
            var total = parseInt($("#entradaCantidad").val()) * parseFloat($("#entradaPrecio").val())
            $("#entradaTotal").val(total.toFixed(2));
        }
        else if (keyCode == 13)
        {
            event.preventDefault();
            if ($("#entradaCantidad").val() != "" && $("#entradaPrecio").val() != "") {
                AgregarEntrada();
                $("#entradasList").focus();
            }
            else {
                alert("Debe completar precio y cantidad poder ingresar una entrada");
            }

        }
    });

    $("#impuestoComentarios").keydown(function (event) {
        var keyCode = event.keyCode || event.which;

        if (keyCode == 13)
        {
            event.preventDefault();
            if ($("#impuestoPorcentaje").val() != "")
            {
                AgregarImpuesto();
                $("#impuestosList").focus();
            }
            else
            {
                alert("Debe ingresar un porcentaje válido");
            }
        }
    });

    $("#gastoDetalle").keydown(function (event) {
        var keyCode = event.keyCode || event.which;

        if (keyCode == 13) {
            event.preventDefault();
            AgregarGasto();
            $("#gastosList").focus();
        }
    });

    $("#impuestosDeduccionesCompanyPorcentaje").bind('input', function () {
        CalcularTeatroSua("");
    });

    $("#impuestosDeduccionesTeatroMonto").bind('input', function () {
        CalcularTeatroSua("fijo");
    });

    $("#suaPorcentaje").bind('input', CalcularSUAMontoNetoFinal);

    $("#check_arregloFijo").change(function ()
    {
        if (this.checked)
        {
            $("#impuestosDeduccionesCompanyPorcentaje").attr("readonly", "readonly");
            $("#impuestosDeduccionesCompanyPorcentaje").val("");
            $("#impuestosDeduccionesTeatroMonto").removeAttr("readonly", "readonly");
            $("#_arregloFijo").val("si");
        }
        else
        {
            $("#impuestosDeduccionesCompanyPorcentaje").removeAttr("readonly", "readonly");
            $("#impuestosDeduccionesTeatroMonto").attr("readonly", "readonly");
            $("#_arregloFijo").val("no");
        }
    });

    $("#check_arregloProductor").change(function () {
        divisionProductor(this.checked);
    });

    $("#ProductorMonto").bind('input', CalcularProductorMontoFijo);

    $("#ProductorPorcentaje").bind('input', CalcularProductorPorcentaje);

    function divisionProductor(checked) {
        if (checked) {
            $("#ProductorMonto").removeAttr("readonly", "readonly");
            $("#radio_porcentajeProductor").attr('disabled', false);
            $("#radio_fijoProductor").attr('disabled', false);
            $("#ArregloProductor").val("fijo");
        }
        else {
            $("#radio_porcentajeProductor").attr('disabled', true);
            $("#radio_fijoProductor").attr('disabled', true);
            $("#ProductorPorcentaje").val("");
            $("#ProductorMonto").val("");
            $("#ProductorPorcentaje").attr("readonly", "readonly");
            $("#ProductorMonto").attr("readonly", "readonly");
            $("#SUAMontoFinal").val($("#suaMonto").val());
            $("#radio_fijoProductor").prop("checked", true);
            $("#ArregloProductor").val("");
        }
    }

    function CalcularProductorMontoFijo()
    {
        var suaMonto = parseFloat($("#suaMonto").val());
        var productorMonto = parseFloat($("#ProductorMonto").val());
        if (isNaN(productorMonto))
        {
            $("#ProductorPorcentaje").val("0");
            $("#SUAMontoFinal").val(suaMonto);
        }
        else
        {
            var productorPorcentaje = productorMonto * 100 / suaMonto;
            $("#ProductorPorcentaje").val(productorPorcentaje.toFixed(2));

            var suaMontoFinal = suaMonto - productorMonto;
            $("#SUAMontoFinal").val(suaMontoFinal.toFixed(2));
        }
    }

    function CalcularProductorPorcentaje()
    {
        var suaMonto = parseFloat($("#suaMonto").val());
        var productorPorcentaje = parseFloat($("#ProductorPorcentaje").val());
        if (isNaN(productorPorcentaje))
        {
            $("#ProductorMonto").val("0");
            $("#SUAMontoFinal").val(suaMonto);
        }
        else
        {
            var productorMonto = suaMonto * productorPorcentaje / 100;
            $("#ProductorMonto").val(productorMonto.toFixed(2));

            var suaMontoFinal = suaMonto - productorMonto;
            $("#SUAMontoFinal").val(suaMontoFinal.toFixed(2));
        }
    }

    function CalcularDivisionProductor()
    {
        if ($('#check_arregloProductor').is(":checked"))
        {
            if ($('#radio_fijoProductor').is(":selected"))
            {
                CalcularProductorMontoFijo();
            }
            else
            {
                CalcularProductorPorcentaje();
            }
        }
    }

    $('#radio_porcentajeProductor').on('change', function () {
        $("#ProductorMonto").attr("readonly", "readonly");
        $("#ProductorPorcentaje").removeAttr("readonly", "readonly");
        $("#ProductorPorcentaje").val("0");
        $("#ProductorMonto").val("0");
        $("#ArregloProductor").val("porcentaje");
    });

    $('#radio_fijoProductor').on('change', function () {
        $("#ProductorMonto").removeAttr("readonly", "readonly");
        $("#ProductorPorcentaje").attr("readonly", "readonly");
        $("#ProductorPorcentaje").val("0");
        $("#ProductorMonto").val("0");
        $("#ArregloProductor").val("fijo");
    });

    function ComportamientoPut()
    {
         //tomo el idFecha enviado por el action Method
        $("#idFecha").val('@ViewBag.idFecha');

        //Seteo check arreglo fijo
        var valor = '@ViewBag.ArregloFijo';
        if (valor == "true")
            $("#check_arregloFijo").prop("checked", true);
        else
            $("#check_arregloFijo").prop("checked", false);


        //seteo el check y radiobuttons de arreglo productor
        var arregloProductor = '@ViewBag.arregloProductor';
        if (arregloProductor == "")
        {
            $("#check_arregloProductor").prop("checked", false);
            divisionProductor(false);
        }
        else if (arregloProductor == "fijo")
        {
            $("#check_arregloProductor").prop("checked", true);
            divisionProductor(true);
            $("#radio_fijoProductor").prop("checked", true);
        }
        else if (arregloProductor == "porcentaje")
        {
            $("#check_arregloProductor").prop("checked", true);
            divisionProductor(true);
            $("#radio_porcentajeProductor").prop("checked", true);
        }



        //agrego evento de click a boton 'eliminar entrada' agregado de forma dinamica en el Put
        $(".form-control-button-entrada").click(BorrarEntrada);

        //agrego evento de click a boton 'eliminar impuesto' agregado de forma dinamica en el Put
        $(".form-control-button-impuesto").click(BorrarImpuesto);

        //agrego evento de click a boton 'eliminar gasto' agregado de forma dinamica en el Put
        $(".form-control-button-gasto").click(BorrarGasto);


        //reemplazo las comas por los puntos
        $("#entradasBruto").val($("#entradasBruto").val().replace(",", "."));
        $("#impuestosDeduccionesBruto").val($("#impuestosDeduccionesBruto").val().replace(",", "."));

        $("#impuestosDeduccionesTotalDeducir").val($("#impuestosDeduccionesTotalDeducir").val().replace(",", "."));
        $("#impuestosDeduccionesNeto").val($("#impuestosDeduccionesNeto").val().replace(",", "."));
        $("#impuestosDeduccionesCompanyPorcentaje").val($("#impuestosDeduccionesCompanyPorcentaje").val().replace(",", "."));
        $("#impuestosDeduccionesCompanyMonto").val($("#impuestosDeduccionesCompanyMonto").val().replace(",", "."));
        $("#impuestosDeduccionesTeatroPorcentaje").val($("#impuestosDeduccionesTeatroPorcentaje").val().replace(",", "."));
        $("#impuestosDeduccionesTeatroMonto").val($("#impuestosDeduccionesTeatroMonto").val().replace(",", "."));
        $("#GastosCompanyTotal").val($("#GastosCompanyTotal").val().replace(",", "."));
        $("#gastosCompanyNeto").val($("#gastosCompanyNeto").val().replace(",", "."));
        $("#suaPorcentaje").val($("#suaPorcentaje").val().replace(",", "."));
        $("#suaMonto").val($("#suaMonto").val().replace(",", "."));
        $("#showPorcentaje").val($("#showPorcentaje").val().replace(",", "."));
        $("#showMonto").val($("#showMonto").val().replace(",", "."));
        $("#ProductorMonto").val($("#ProductorMonto").val().replace(",", "."));
        $("#ProductorPorcentaje").val($("#ProductorPorcentaje").val().replace(",", "."));
        $("#SUAMontoFinal").val($("#SUAMontoFinal").val().replace(",", "."));


        RecorreEntradas("PUT");
        RecorreImpuestos("PUT");
        RecorreGastos("PUT");
    }


</script>