@model SUA.Models.Fecha
<style>
    table {
        border-spacing: 20px;
    }

    td {
        padding: 10px;
    }
</style>

<div class="main-content">
    @using (Html.BeginForm("Fecha", "Fecha", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (ViewBag.mensaje == "creado")
        {
            <label>La fecha ha sido creada con éxito. Puede verla cargada en el <a href="@Url.RouteUrl("Fechas")">Listado de Fechas</a></label>
        }
        else if (ViewBag.mensaje == "actualizado")
        {
            <label>La fecha ha sido actualizada con éxito. Puede verla cargada en el <a href="@Url.RouteUrl("Fechas")">Listado de Fechas</a></label>
        }
        else if (ViewBag.mensaje == "Get")
        {
            <div class="panel">
                <div class="panel-body">
                    <form data-id="" id="pdf-create-form" to-action="/pdfs/create">

                        <table style="border-spacing: 20px">
                            <tr>
                                <td>
                                    <label>Show </label>
                                    <select name="showsList" class="form-control" id="showsList" Style="width:350px" required>
                                        @foreach (var item in ViewBag.shows)
                                        {
                                            <option value="@item.UniqueId">@item._Show - @item.Nombre</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <label>Fecha</label>
                                    @if (ViewBag.accion == "Post")
                                    {
                                        @Html.TextBoxFor(model => model.FechaHorario, new { @id = "fechaHorario", @class = "form-control", Style = "width:300px", required = "required", @type = "datetime-local" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.FechaHorario, new { @id = "fechaHorario", @class = "form-control", Style = "width:300px", required = "required", @type = "datetime-local", @Value = Model.FechaHorario.ToString("yyyy-MM-ddTHH:mm") })
                                    }
                                </td>
                                <td>
                                    <label>&nbsp;</label><br />
                                    <input class="form-control" id="verSalasButton" type="button" value=">>" />
                                </td>
                            </tr>

                        </table>

                        <hr style="color: #8dd9f7">

                        <table style="border-radius: 10px;">
                            <tr>
                                <td>
                                    <input id="filterSala" type="text" placeholder="Buscar Sala" class="form-control" style="width:100%" />
                                    <select name="salasList" multiple="multiple" class="form-control" id="salasList" Style="width:350px; height:400px" required>
                                    </select>

                                    <br />
                                    <label>Productores</label>
                                    <select name="productoresList" class="form-control" id="productoresList" Style="width:300px" required>
                                        @foreach (var item in ViewBag.productores)
                                        {
                                            <option value="@item.Dni">@item.Nombre @item.Apellido</option>
                                        }
                                    </select>

                                </td>
                                <td>
                                    <div id="antesDespues" style="width:250px; height:400px">
                                        <label id="lblUltimoShowEspecifico">[Fechas 20 días antes]</label><br />

                                    </div>
                                </td>
                            </tr>
                        </table>

                        <hr style="color: #8dd9f7">

                        <input name="accion" class="hidden" value="@ViewBag.accion" data-form="error-box" />
                        @Html.TextBoxFor(model => model.UniqueId, new { @class = "hidden" })

                        <button id="btn_guardar" type="submit" class="btn btn-primary btn-block btn-submit-to-right">Guardar</button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <label>@ViewBag.mensaje</label>
        }
    }

</div>

<script>


    $(document).ready(function ()
    {
        $("#filterSala").on("keyup", function ()
        {
            var value = $(this).val().toLowerCase();
            $("#salasList option").filter(function ()
            {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    //seleccion automaticamente el productor cuando selecciono los distintos shows
    $("#showsList").change(function ()
    {
        var array = @Html.Raw(Json.Encode(@ViewBag.shows));
        for (var i = 0; i < array.length; i++)
        {
            if ($("#showsList").val() == array[i].UniqueId)
            {
                var dniProductor = array[i].Productor.Dni;
                $('#productoresList option[value="' + dniProductor + '"]').attr("selected", "selected");
            }
        }
    });



    //inicializo los campos para editar
    if ("@ViewBag.accion" == "Put")
    {
        $('#showsList option[value="' + "@ViewBag.show" + '"]').attr("selected", "selected");
        $('#salasList option[value="' + "@ViewBag.sala" + '"]').attr("selected", "selected");
        $('#productoresList option[value="' + "@ViewBag.productor" + '"]').attr("selected", "selected");
    }

    //muestro info del show elegido
    $('#verSalasButton').click(function ()
    {
        var fechaHorario = $("#fechaHorario").val();
        var idShow = $("#showsList option:selected").val();
        $.ajax({
            url: '/fecha/GetSalasConVencimiento?idShow=' + idShow + '&fechaProximoShow=' + fechaHorario,
            type: 'GET',
            accepts: 'application/Json',
            success:  PopularListaSalas,
            error: function () { }
        });
    });

    function PopularListaSalas(data)
    {
        $("#salasList").empty();
        var salas = JSON.parse(data);
        var diasVencidos;
        for (var i = 0; i < salas.length; i++)
        {
            var backgroundcolor;
            var placeholder = salas[i].RepeticionEnDias;
            if (salas[i].RepeticionEnDias > 0)
            {
                backgroundcolor = "red";
                diasVencidos = salas[i].RepeticionEnDias + " días vencida";
            }
            else if (salas[i].RepeticionEnDias < 0 && salas[i].RepeticionEnDias > -30)
            {
                backgroundcolor = "orange";
                var cantDias = salas[i].RepeticionEnDias.toString().replace("-", "");
                diasVencidos = "vence en " + cantDias + " días";
            }
            else if (salas[i].RepeticionEnDias > -30 && salas[i].RepeticionEnDias > -365)
            {
                backgroundcolor = "lightgreen";
                var cantDias = salas[i].RepeticionEnDias.replace("-", "");
                diasVencidos = "vence en " + cantDias + " días";
            }
            else
            {
                backgroundcolor = "grey";
                placeholder = "";
                diasVencidos = "-";
            }
            $("#salasList").append('<option value="' + salas[i].UniqueId + '" placeholder="' + placeholder + '" style="color:white; background-color:' + backgroundcolor + '">' + salas[i].Nombre + ' - ' + salas[i].Direccion.Ciudad + ' (' + diasVencidos + ')</option>');
        }
    }


    $('#salasList').change(function ()
    {
        /*
        var idSala = $("#salasList option:selected").val();
        var idShow = $("#showsList option:selected").val();

        //muestro info del sala y show elegido
        $.ajax({
            url: '/fecha/GetUltimaFechaByShowAndSala?idShow=' + idShow + '&idSala=' + idSala ,
            type: 'GET',
            accepts: 'application/Json',
            success: MostrarInfoSalaYShow,
            error: function () { console.log("ERROR: No se puede obtener informacion de la ultima fecha en la sala seleccionada");}
        });

        //Obtengo ultima fecha de la sala
        $.ajax({
            url: '/fecha/GetUltimaFechaBySala?idSala=' + idSala,
            type: 'GET',
            accepts: 'application/Json',
            success: MostrarInfoSala,
            error: function () { console.log("ERROR: No se puede obtener informacion de la ultima fecha según show y sala"); }
        });

        //Obtengo vencimiento Sala
        $.ajax({
            url: '/fecha/CalcularVencimiento?idSala=' + idSala,
            type: 'GET',
            accepts: 'application/Json',
            success: MostrarVencimientoSala,
            error: function () { console.log("ERROR: No se puede obtener el vencimiento de la sala seleccionada");}
        });
        */
    });


    function MostrarInfoSalaYShow(data)
    {
        var fecha = JSON.parse(data);
        if (fecha == null)
            $("#lblFechaUtimoShowEspecifico").text("-----");
        else
            $("#lblFechaUtimoShowEspecifico").text(fecha.FechaHorario.replace("T", " "));
    }

    function MostrarInfoSala(data)
    {
        var fecha = JSON.parse(data);
        if (fecha == null)
        {
            $("#lblUltimoShowGeneral").text("Ningún show presentado");
            $("#lblFechaUltimoShowGeneral").text("");
        }
        else
        {
            var show = fecha.Show._Show + " - " + fecha.Show.Nombre
            $("#lblUltimoShowGeneral").text(show);
            $("#lblFechaUltimoShowGeneral").text(fecha.FechaHorario.replace("T", " "));
        }

    }

    function MostrarVencimientoSala(data)
    {
        if (data != "")
        {
            if (data.indexOf('-') > -1) {
                $("#lblVencimientoSalaTitulo").text("Vencimiento");
                $("#lblDiasVencidos").text(data.replace("-", "") + " días");
            }
            else {
                $("#lblVencimientoSalaTitulo").text("Plaza Vencida");
                $("#lblDiasVencidos").text(data + " días");
            }
        }
        else
        {
            $("#lblVencimientoSalaTitulo").text("");
            $("#lblDiasVencidos").text("");
        }

    }

</script>

