<div id="container" class="main-content" style="padding:50px;  width: 100%;">

    @if (ViewBag.mensaje == "listar")
    {

        <table style="border-spacing: 20px">
            <tr>
                <td>
                    <div id="entries" style="width:200px"></div>
                </td>
                <td>
                    <div id="botones" style="width:200px; padding-top:5px"></div>
                </td>
                <td>
                    <div id="busqueda" style="width:200px"></div>
                </td>
            </tr>
        </table>
        <hr style="color: #8dd9f7">

        <div style="width: 100%; overflow-x: auto;  white-space: nowrap;">

            <table id="table_fechas" class="display compact hover nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th>Show</th>
                        <th>Sala</th>
                        <th>Provincia</th>
                        <th>Fecha</th>
                        <th>Productor</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Show</th>
                        <th>Sala</th>
                        <th>Provincia</th>
                        <th>Fecha</th>
                        <th>Productor</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in ViewBag.fechas)
                    {
                        <tr>
                            <td>
                                @Html.ActionImage("DeleteFecha", "Fecha", new { id = item.UniqueId }, "~/assets/img/delete_icon.png")
                                @Html.ActionImage("Fecha", "Fecha", new { id = item.UniqueId }, "~/assets/img/edit_icon.png")

                                @if(DateTime.Now.AddHours(3) >= item.FechaHorario)
                                {
                                    if (item.Borederaux == null)
                                    {
                                        @Html.ActionImage("Bordereaux", "Fecha", new { id = item.UniqueId }, "~/assets/img/add_borderaux_icon.png")
                                    }
                                    else
                                    {
                                        @Html.ActionImage("Bordereaux", "Fecha", new { id = item.UniqueId }, "~/assets/img/borderaux_icon.png")
                                    }
                                }

                            </td>
                            <td>@item.Show._Show - @item.Show.Nombre</td>
                            <td>@item.Sala.Nombre</td>
                            <td>@item.Sala.Direccion.Provincia</td>
                            <td>@item.FechaHorario</td>
                            <td>@item.Productor.Nombre @item.Productor.Apellido</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <hr style="color: #8dd9f7">
        <table style="border-spacing: 20px">
            <tr>
                <td>
                    <div id="info" style="width:200px"></div>
                </td>
                <td>
                    <div id="paginado" style="width:200px"></div>
                </td>
            </tr>
        </table>
    }
    else
    {
        <label>@ViewBag.mensaje</label>
    }

</div>
