@model SUA.Models.Gasto
<style>
    table {
        border-spacing: 20px;
    }

    td {
        padding: 10px;
    }
</style>

<div class="main-content">
    @using (Html.BeginForm("Gasto", "Gasto", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (ViewBag.mensaje == "creado")
        {
            <label>El gasto ha sido cargado con éxito. Puede verlo cargado en el <a href="@Url.RouteUrl("Gastos")">Listado de gastos</a></label>
        }
        else if (ViewBag.mensaje == "actualizado")
        {
            <label>El gasto ha sido actualizado con éxito. Puede ver los cambios en el <a href="@Url.RouteUrl("Gastos")">Listado de gastos</a></label>
        }
        else if (ViewBag.mensaje == "Get")
        {
            <div class="panel">
                <div class="panel-body">

                    <!-- -->

                    @if (ViewBag.accion == "POST")
                    {
                        <h3>Gastos de la fecha</h3>
                        <table id="table_gastos" class="display compact hover nowrap">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Fecha</th>
                                    <th>Importe</th>
                                    <th>Categoria</th>
                                    <th>Quien</th>
                                    <th>Detalle</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Fecha</th>
                                    <th>Importe</th>
                                    <th>Categoria</th>
                                    <th>Quien</th>
                                    <th>Detalle</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in ViewBag.gastosAnteriores)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionImage("DeleteGasto", "Gasto", new { id = item.UniqueId }, "~/assets/img/delete_icon.png")
                                            @Html.ActionImage("Gasto", "Gasto", new { id = item.UniqueId }, "~/assets/img/edit_icon.png")
                                        </td>
                                        <td>@item.Fecha.ToString("yyyy-MM-dd")</td>
                                        <td>@item.Importe</td>
                                        <td>@item.Categoria</td>
                                        @if (item.Quien != null)
                                        {
                                            <td>@item.Quien.Apellido,  @item.Quien.Nombre</td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                        }

                                        <td>@item.Detalle</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    <!-- -->




                    <form data-id="" id="pdf-create-form" to-action="/pdfs/create">

                        <table style="border-spacing: 20px">
                            <tr>
                                <td>
                                    <label>Fecha</label>
                                    @if (ViewBag.accion == "Post")
                                    {
                                        @Html.TextBoxFor(model => model.Fecha, new { @class = "form-control", Style = "width:300px", required = "required", @type = "date" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.Fecha, new { @class = "form-control", Style = "width:300px", required = "required", @type = "date", @Value = Model.Fecha.ToString("yyyy-MM-dd") })
                                    }
                                </td>
                                <td>
                                    <label>Importe</label>
                                    @Html.TextBoxFor(model => model.Importe, new { @class = "form-control", Style = "width:300px", required = "required" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Categoria</label>
                                    @Html.DropDownListFor(model => model.Categoria, new SelectList(ViewBag.categorias, "Text", "Value"), new { @id = "categoria", @class = "form-control", Style = "width:300px", required = "required" })
                                </td>
                                <td>
                                    <label>Quien</label>
                                    @Html.DropDownList("personaDNI", new SelectList(ViewBag.personas, "Value", "Text"), new { @id = "persona", @class = "form-control", Style = "width:300px", required = "required" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label>Detalle</label>
                                    @Html.TextAreaFor(model => model.Detalle, new { @class = "form-control", Style = "width:100%", required = "required" })
                                </td>
                            </tr>
                        </table>
                        <hr style="color: #8dd9f7">
                        @if (ViewBag.accion != "Post")
                        {
                            <input name="UniqueId" value="@Model.UniqueId" style="visibility:hidden" />
                        }

                        <input name="accion" class="hidden" value="@ViewBag.accion" data-form="error-box" />
                        <button id="btn_guardar" type="submit" class="btn btn-primary btn-block btn-submit-to-right">Guardar</button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <label>@ViewBag.mensaje</label>
        }
    }

</div>


<script>

    $(document).ready(function () {
        $("#categoria").change(function () {
            if ($("#categoria").val() == "Tecnico" || $("#categoria").val() == "Premios" || $("#categoria").val() == "Afip" ||
                $("#categoria").val() == "Sueldos" || $("#categoria").val() == "Celular" || $("#categoria").val() == "Programacion" ||
                $("#categoria").val() == "Productor") {
                $("#persona").prop("disabled", false);
            }
            else {
                $("#persona").prop("disabled", true);
            }
        });


        //Asignar quien en put
        if ("@ViewBag.accion" == "Put") {
            if ($("#categoria").val() == "Tecnico" || $("#categoria").val() == "Premios" || $("#categoria").val() == "Afip" ||
                $("#categoria").val() == "Sueldos" || $("#categoria").val() == "Celular" || $("#categoria").val() == "Programacion" ||
                $("#categoria").val() == "Productor") {
                $("#persona").val('@ViewBag.quien');
            }
            else {
                $("#persona").prop("disabled", true);
            }
        }

    });
</script>