@{
    ViewBag.Title = "Inicio";
}

<style>
    .btn span.glyphicon {
        opacity: 0;
    }

    .btn.active span.glyphicon {
        opacity: 1;
    }
</style>

<div class="main-content">


    <div class="panel">
        <div class="panel-body" style="padding-left:130px; padding-right:130px; padding-top:50px; padding-bottom:60px">

            <div class="well well-sm text-center">
                <h4>Mostrar Show</h4>

                <div class="btn-group" data-toggle="buttons">
                    @foreach (var show in ViewBag.showCalendars)
                    {
                        var id = "check" + show.uniqueId;
                        <label id="@show.uniqueId" title="@show.show" class="btn btn-success active">@show.show
                            <input id="@id" type="checkbox" autocomplete="off" checked>
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                    }

                    <!--

                    <label id="201809251401711" title="Nicolas De Tracy" class="btn btn-primary active">
                        <input id="check201809251401711" type="checkbox" autocomplete="off" checked>
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>

                    <label id="201809300847352" title="Laila y Gonzo" class="btn btn-danger active">
                        <input id="check201809300847352" type="checkbox" autocomplete="off" checked>
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>

                    <label id="201810021209749" title="El Innombrable" class="btn btn-warning active">
                        <input id="check201810021209749" type="checkbox" autocomplete="off" checked>
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>
                        -->
                </div>
            </div>
            <div id='calendar'></div>
        </div>
    </div>



</div>
<script>
    $(document).ready(function ()
    {
        var calendars = @Html.Raw(Json.Encode(@ViewBag.showCalendars));
        for (var i = 0; i < calendars.length; i++)
        {
            $("#" + calendars[i].uniqueId).bind('click', getCalendarsAndDrawCalendar);
            $("#" + calendars[i].uniqueId).css("background-color", calendars[i].color);
            $("#" + calendars[i].uniqueId).css("border-color", calendars[i].color);
            $("#" + calendars[i].uniqueId).css("color", calendars[i].textColor);
        }

        getCalendarsAndDrawCalendar("initial");
    });



    function getCalendarsAndDrawCalendar(state)
    {
        $.get("@ViewBag.CalendarsFullUrl", function (data)
        {
            data = jQuery.parseJSON(data);
            var i = 0;
            while (i < data.length)
            {
                var id = "#check" + data[i].uniqueId;
                if ($(id)[0].checked == undefined || !$(id)[0].checked)
                {
                    data = DeleteItemArray(data, data[i].uniqueId);
                    i = 0;
                }
                else
                {
                    i++;
                }
            }
            if (state == "initial")
                drawCalendar(data);
            else
                reDrawCalendar(data);
        });
    }

    function DeleteItemArray(array, id)
    {
        var newArray = [];
        for (var i = 0; i < array.length; i++)
        {
            if (array[i].uniqueId != id)
                newArray.push(array[i]);
        }
        return newArray;
    }

    function drawCalendar(calendars)
    {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,listMonth'
            },
            googleCalendarApiKey: '@ViewBag.Key',
            eventSources: calendars,
            eventClick: function (event)
            {
                window.open(event.url, '_blank', 'width=700,height=600');
                return false;
            }
        });
        $('#calendar').fullCalendar('rerenderEvents');
    }

    function reDrawCalendar(calendars)
    {
        $('#calendar').fullCalendar('destroy');
        drawCalendar(calendars);
    }
</script>
