<div id="container" class="main-content" style="padding:50px;  width: 100%;">
    <h2>Stanaduperos</h2>
    <hr style="color: #8dd9f7">
    <div style="width: 100%; overflow-x: auto;  white-space: nowrap;">
        <table id="table_standuperos" class="display compact hover nowrap">

            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Dni</th>
                    <th>Transporte Propio</th>
                    <th>Celular</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Dni</th>
                    <th>Transporte Propio</th>
                    <th>Celular</th>
                    <th>Email</th>
                </tr>
            </tfoot>
            <tbody>
            @foreach (var item in ViewBag.standuperos)
            {
                <tr>
                    <td>
                        @Html.ActionImage("DeleteStandupero", "Home", new { dni = item.Dni }, "~/assets/img/delete_icon.png", "Delete")&nbsp;
                        @Html.ActionImage("Standupero", "Home", new { dni = item.Dni }, "~/assets/img/edit_icon.png", "Edit")
                    </td>
                    <td>@item.Nombre @item.Apellido</td>
                    <td>@item.Dni</td>
                    <td>@item.TransportePropio</td>
                    <td>@item.Celular</td>
                    <td>@item.Email</td>
                </tr>
             }
            </tbody>
        </table>
    </div>

</div>
