<div id="container" class="main-content" style="padding:50px;  width: 100%;">

    @if (ViewBag.mensaje == "listar")
    {
        <table style="border-spacing: 20px">
            <tr>
                <td style="width:200px;">
                    <a href="@Url.RouteUrl("Gasto")">
                        <input type="button" value="Crear Gasto" class="form-control" style="width:120px" />
                    </a>
                </td>
                <td>
                    <div id="entries" style="width:200px"></div>
                </td>
                <td>
                    <div id="botones" style="width:200px; padding-top:5px"></div>
                </td>
                <td>
                    <div id="busqueda" style="width:200px"></div>
                </td>
            </tr>
        </table>
        <hr style="color: #8dd9f7">

        <div style="width: 100%; overflow-x: auto;  white-space: nowrap;">

            <table id="table_gastos" class="display compact hover nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th>Fecha</th>
                        <th>Importe</th>
                        <th>Categoria</th>
                        <th>Quien</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Fecha</th>
                        <th>Importe</th>
                        <th>Categoria</th>
                        <th>Quien</th>
                        <th>Detalle</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in ViewBag.gastos)
                    {
                        <tr>
                            <td>
                                @Html.ActionImage("DeleteGastoo", "Gasto", new { id = item.UniqueId }, "~/assets/img/delete_icon.png")
                                @Html.ActionImage("Gasto", "Gasto", new { id = item.UniqueId }, "~/assets/img/edit_icon.png")
                            </td>
                            <td>@item.Fecha.ToString("yyyy-MM-dd")</td>
                            <td>@item.Importe</td>
                            <td>@item.Categoria</td>
                            @if (item.Quien == null)
                            {
                                <td>@item.Quien.Apellido,  @item.Quien.Nombre</td>
                            }
                            else
                            {
                                <td>-</td>
                            }

                            <td>@item.Detalle</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <hr style="color: #8dd9f7">
        <table style="border-spacing: 20px">
            <tr>
                <td>
                    <div id="info" style="width:200px"></div>
                </td>
                <td>
                    <div id="paginado" style="width:200px"></div>
                </td>
            </tr>
        </table>
    }
    else
    {
        <label>@ViewBag.mensaje</label>
    }

</div>

<script>

    $(document).ready(function () {

        var tableStanduperos = $('#table_gastos').DataTable({
            responsive: true,
            dom: 'l<B>ftip',
            buttons: [
                { extend: 'excelHtml5', title: "Gastos", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') },
                'csvHtml5',
                { extend: 'pdf', title: "Listado de Gastos", messageTop: 'Fecha: ' + new Date().toJSON().slice(0, 10).replace(/-/g, '/') }
            ],
            'columnDefs': [{ "targets": 0, "className": "text-center" }]
        });

        var contador = 0;
        $('#table_gastos tfoot th').each(function () {
            if (contador != 0) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="' + title + '" />');
            }
            contador++;
        });


        // Apply the search
        var table = $('#table_gastos').DataTable();
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value)
                    that.search(this.value).draw();
            });
        });
        $('#table_gastos_filter').hide();


        $("#entries").append($(".dt-buttons"));
        $("#botones").append($(".dataTables_length"));

        $("#info").append($("#table_gastos_info"));
        $("#table_gastos_paginate").hide();

    });



</script>