@model SUA.Models.Show
<style>
    table {
        border-spacing: 20px;
    }

    td {
        padding: 10px;
    }
</style>

<div class="main-content">
    @using (Html.BeginForm("Show", "Show", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (ViewBag.mensaje == "creado")
        {
            <label>El show ha sido cargado con éxito. Puede verlo cargado en el <a href="@Url.RouteUrl("Standuperos")">Listado de shows</a></label>
        }
        if (ViewBag.mensaje == "actualizado")
        {
            <label>El show ha sido actualizado con éxito. Puede ver los cambios en el <a href="@Url.RouteUrl("Standuperos")">Listado de shows</a></label>
        }
        else if (ViewBag.mensaje == "show_ya_existente")
        {
            <label>El show que ha intentado cargar ya existe.</label>
        }
        else if (ViewBag.mensaje == "show_invalido")
        {
            <label>El show que ha intentado cargar posee campos inválidos.</label>
        }
        else if (ViewBag.mensaje == "show_no_creado")
        {
            <label>El show no ha podido crearse. Por favor intentelo nuevamente mas tarde.</label>
        }
        else if (ViewBag.mensaje == "show_no_actualizado")
        {
            <label>El show no ha podido editarse. Por favor intentelo nuevamente mas tarde.</label>
        }
        else if (ViewBag.mensaje == "")
        {
            <div class="panel">
                <div class="panel-body">
                    <form data-id="" id="pdf-create-form" to-action="/pdfs/create">

                        <table style="border-spacing: 20px">
                            <tr>
                                <td>
                                    <label>Show </label>
                                    @Html.TextBoxFor(model => model._Show, new { @class = "form-control", Style = "width:300px", required = "required" })
                                </td>
                                <td>
                                    <label>Nombre </label>
                                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", Style = "width:300px", required = "required" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Standuperos </label>
                                    <select multiple="multiple" class="form-control" id="standuperos">
                                        @foreach (var item in ViewBag.standuperos)
                                        {
                                            <option value="@item.Dni">@item.Nombre @item.Apellido</option>
                                        }
                                    </select>
                                    <input type="button" value="Agregar" class="form-control" id="agregar" />
                                </td>
                                <td>
                                    <label>Standuperos Seleccionados</label>
                                    <select multiple="multiple" class="form-control" id="standuperosSeleccionados"></select>
                                    <input type="button" value="Borarr" class="form-control"  id="borrar" />
                                </td>
                            </tr>
                            <tr>
                                <td  colspan="2">
                                    <label>Rider </label>
                                    @Html.TextBoxFor(model => model.Rider, new { @class = "form-control", Style = "width:100%x", required = "required" })
                                </td>
                            </tr>
                            <tr>
                                <td  colspan="2">
                                    <label>Camarin </label>
                                    @Html.TextBoxFor(model => model.Camarin, new { @class = "form-control", Style = "width:100%", required = "required" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Productor Default </label>
                                    @Html.DropDownListFor(model => model.ProductorDefault, new SelectList(ViewBag.productores, "Text", "Value"), new { @class = "form-control", Style = "width:300px", required = "required" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label>Observaciones </label>
                                    @Html.TextBoxFor(model => model.Observaciones, new { @class = "form-control", Style = "width:100%", required = "required" })
                                </td>
                            </tr>

                        </table>

                        <input name="accion" class="hidden" value="@ViewBag.accion" data-form="error-box" />
                        <button id="btn_guardar" type="submit" class="btn btn-primary btn-block btn-submit-to-right">Guardar</button>
                    </form>
                </div>
            </div>
        }
    }

</div>
<script>
    $("#agregar").click(function (event) {
        var seleccion = $("#standuperos option:selected");
        if(seleccion.val() == undefined)
            alert("Debe seleccionar un standupero");
        else
        {
            $("#standuperosSeleccionados").append('<option value="' + seleccion.val() + '">' + seleccion.html() + '</option>');
            $("#standuperos option[value='" + seleccion.val() + "']").remove();
        }

    });

    $("#borrar").click(function (event) {
        var seleccion = $("#standuperosSeleccionados option:selected");
        if (seleccion.val() == undefined)
            alert("Debe seleccionar un standupero");
        else
        {
            $("#standuperos").append('<option value="' + seleccion.val() + '">' + seleccion.html() + '</option>');
            $("#standuperosSeleccionados option[value='" + seleccion.val() + "']").remove();
        }
    });
</script>
